
/* Align-Items */

.ai-normal {
    align-items: normal;
}

.ai-left {
    align-items: left;
}

.ai-center {
    align-items: center;
}

.ai-right {
    align-items: right;
}

.ai-stretch {
    align-items: stretch;
}

.ai-start {
    align-items: start;
}

.ai-baseline {
    align-items: baseline;
}

.ai-flexstart {
    align-items: flex-start;
}

.ai-flexend {
    align-items: flex-end;
}

.ai-end {
    align-items: end;
}

/* Align-Content */

.ac-stretch {
    align-content: stretch;
}

.ac-center {
    align-content: center;
}

.ac-flexstart {
    align-content: flex-start;
}

.ac-flexend {
    align-content: flex-end;
}

.ac-spacebetween {
    align-content: space-between;
}

.ac-spsacearound {
    align-content: space-around;
}

.ac-spaceevenly {
    align-content: space-evenly;
}

.ac-inherit {
    align-content: inherit;
}

/* Align-Self */

.as-center {
    align-self: center;
}

.as-auto {
    align-self: auto;
}

.as-flexstart {
    align-self: flex-start;
}

.as-flexend {
    align-self: flex-end;
}

.as-baseline {
    align-self: baseline;
}

.as-stretch {
    align-self: stretch;
}

.as-inherit {
    align-self: inherit;
}

/* Justify-Content */

.jc-center {
    justify-content: center;
}

.jc-spacearound {
    justify-content: space-around;
}

.jc-spacebetween {
    justify-content: space-between;
}

.jc-spaceevenly {
    justify-content: space-evenly;
}

.jc-flexstart {
    justify-content: flex-start;
}

.jc-flexend {
    justify-content: flex-end;
}

.jc-inherit {
    justify-content: inherit;
}

/* Vertical-Align */

.va-bottom {
    vertical-align: bottom;
}

.va-middle {
    vertical-align: middle;
}

.va-top {
    vertical-align: top;
}

.va-baseline {
    vertical-align: baseline;
}

.va-texttop {
    vertical-align: text-top;
}

.va-textbottom {
    vertical-align: text-bottom;
}

.va-texttop {
    vertical-align: text-top;
}

.va-sub {
    vertical-align: sub;
}

.va-super {
    vertical-align: super;
}

.va-inherit {
    vertical-align: inherit;
}

/* Text-Align */

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.ta-justify {
    text-align: justify;
}

.ta-start {
    text-align: start;
}

.ta-end {
    text-align: end;
}

.ta-inherit  {
    text-align: inherit;
}

/* Place-Content */

.pc-normal {
    place-content: normal;
}

.pc-stretch {
    place-content: stretch;
}

.pc-start {
    place-content: start;
}

.pc-center {
    place-content: center;
}

.pc-end {
    place-content: end;
}

.pc-spacebetween {
    place-content: space-between;
}

.pc-spacearound {
    place-content: space-around;
}

.pc-spaceevenly {
    place-content: space-evenly;
}

.pc-baseline {
    place-content: baseline;
}

.pc-inherit {
    place-content: inherit;
}

/* Place Items */

.pi-normal_legacy {
    place-items: normal legacy;
}

.pi-start {
    place-items: start;
}

.pi-center {
    place-items: center;
}

.pi-end {
    place-items: end;
}

.pi-baseline {
    place-items: baseline;
}

.pi-stretch {
    place-items: stretch;
}

.pi-inherit {
    place-items: inherit;
}

/* Place Self */

.ps-normal {
    place-self: normal;
}

.ps-auto {
    place-self: auto;
}

.ps-left {
    place-self: left;
}

.ps-center {
    place-self: center;
}

.ps-right {
    place-self: right;
}

.ps-start {
    place-self: start;
}

.ps-end {
    place-self: end;
}

.ps-baseline {
    place-self: baseline;
}

.ps-stretch {
    place-self: stretch;
}

.ps-inherit {
    place-self: inherit;
}




