
/* Display */

.d-block {
    display: block;
}

.d-inlineblock {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.d-contents {
    display: contents;
}

.d-listitem {
    display: list-item;
}

.d-none {
    display: none;
}

.d-flowroot {
    display: flow-root;
}

/* Position */

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.p-static {
    position: static;
}

/* Overflow */

.o-auto {
    overflow: auto;
}

.o-visible {
    overflow: visible;
}

.o-hidden {
    overflow: hidden;
}

.o-scroll {
    overflow: scroll;
}

.o-clip {
    overflow: clip;
}

/* Overflow-X */

.ox-auto {
    overflow-x: auto;
}

.ox-visible {
    overflow-x: visible;
}

.ox-hidden {
    overflow-x: hidden;
}

.ox-scroll {
    overflow-x: scroll;
}

.ox-clip {
    overflow-x: clip;
}

/* Overflow-Y */

.oy-auto {
    overflow-y: auto;
}

.oy-visible {
    overflow-y: visible;
}

.oy-hidden {
    overflow-y: hidden;
}

.oy-scroll {
    overflow-y: scroll;
}

.oy-clip {
    overflow-y: clip;
}

/* Column-Count */

.cc-inherit {
    column-count: inherit;
}

.cc-1 {
    column-count: 1;
}

.cc-2 {
    column-count: 2;
}

.cc-3 {
    column-count: 3;
}

.cc-4 {
    column-count: 4;
}

.cc-5 {
    column-count: 5;
}

.cc-6 {
    column-count: 6;
}

.cc-7 {
    column-count: 7;
}

.cc-8 {
    column-count: 8;
}

.cc-9 {
    column-count: 9;
}

.cc-10 {
    column-count: 10;
}

/* Break-After */

.ba-auto {
    break-after: auto;
}

.ba-all {
    break-after: all;
}

.ba-always {
    break-after: always;
}

.ba-avoid {
    break-after: avoid;
}

.ba-avoidcolumn {
    break-after: avoid-column;
}

.ba-avoidpage {
    break-after: avoid-page;
}

.ba-avoidregion {
    break-after: avoid-region;
}

.ba-left {
    break-after: left;
}

.ba-center  {
    break-after: center;
}

.ba-right {
    break-after: right;
}

.ba-column {
    break-after: column;
}

.ba-region {
    break-after: region;
}

.ba-page {
    break-after: page;
}

.ba-inherit {
    break-after: inherit;
}

/* Break-Before */

.bb-auto {
    break-before: auto;
}

.bb-all {
    break-before: all;
}

.bb-always {
    break-before: always;
}

.bb-avoid {
    break-before: avoid;
}

.bb-avoidcolumn {
    break-before: avoid-column;
}

.bb-avoidpage {
    break-before: avoid-page;
}

.bb-avoidregion {
    break-before: avoid-region;
}

.bb-left {
    break-before: left;
}

.bb-center {
    break-before: center;
}

.bb-right {
    break-before: right;
}

.bb-column {
    break-before: column;
}

.bb-region {
    break-before: region;
}

.bb-page {
    break-before: page;
}

.bb-inherit {
    break-before: inherit;
}

/* Break-Inside */

.bi-auto {
    break-inside: auto;
}

.bi-avoid {
    break-inside: avoid;
}

.bi-avoidpage {
    break-inside: avoid-page;
}

.bi-avoidcolumn {
    break-inside: avoid-column;
}

.bi-avoidregion {
    break-inside: avoid-region;
}

.bi-inherit {
    break-inside: inherit;
}

/* Float */

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.f-none {
    float: none;
}

.f-inherit {
    float: inherit;
}

/* Clear */

.c-left {
    clear: left;
}

.c-right {
    clear: right;
}

.c-both {
    clear: both;
}

.c-none {
    clear: none;
}

/* Isolation */

.i-isolate {
    isolation: isolate;
}

.i-auto {
    isolation: auto;
}

/* Visibility */

.v-visible {
    visibility: visible;
}

.v-hidden {
    visibility: hidden;
}

.v-collapse {
    visibility: collapse;
}

/* Left */

/* Right */

/* Top */

/* Bottom */

/* Center */

/* Background-Origin */

.bgo-borderbox {
    background-origin: border-box;
}

.bgo-paddingbox {
    background-origin: padding-box;
}

.bgo-contentbox {
    background-origin: content-box;
}

/* Background-Position */

.bgp-left {
    background-position: left;
}

.bgp-center {
    background-position: center;
}

.bgp-right {
    background-position: right;
}

.bgp-top {
    background-position: top;
}

.bgp-bottom {
    background-position: bottom;
}

.bgp-left_bottom {
    background-position: left bottom;
}

.bgp-left_top {
    background-position: left top;
}

.bgp-right_bottom {
    background-position: right bottom;
}

.bgp-right_top {
    background-position: right top;
}

/* Z-Index */

.zi-1 {
    z-index: 1;
}

.zi-2 {
    z-index: 2;
}

.zi-3 {
    z-index: 3;
}

.zi-4 {
    z-index: 4;
}

.zi-5 {
    z-index: 5;
}

.zi-6 {
    z-index: 6;
}

.zi-7 {
    z-index: 7;
}

.zi-8 {
    z-index: 8;
}

.zi-9 {
    z-index: 9;
}

.zi-10 {
    z-index: 10;
}

.zi-11 {
    z-index: 11;
}

.zi-12 {
    z-index: 12;
}

.zi-13 {
    z-index: 13;
}

.zi-14 {
    z-index: 14;
}

.zi-15 {
    z-index: 15;
}

.zi-16 {
    z-index: 16;
}

.zi-17 {
    z-index: 17;
}

.zi-18 {
    z-index: 18;
}

.zi-19 {
    z-index: 19;
}

.zi-20 {
    z-index: 20;
}

.zi-21 {
    z-index: 21;
}

.zi-22 {
    z-index: 22;
}

.zi-23 {
    z-index: 23;
}

.zi-24 {
    z-index: 24;
}

.zi-25 {
    z-index: 25;
}

.zi-26 {
    z-index: 26;
}

.zi-27 {
    z-index: 27;
}

.zi-28 {
    z-index: 28;
}

.zi-29 {
    z-index: 29;
}

.zi-30 {
    z-index: 30;
}

.zi-31 {
    z-index: 31;
}

.zi-32 {
    z-index: 32;
}

.zi-33 {
    z-index: 33;
}

.zi-34 {
    z-index: 34;
}

.zi-35 {
    z-index: 35;
}

.zi-36 {
    z-index: 36;
}

.zi-37 {
    z-index: 37;
}

.zi-38 {
    z-index: 38;
}

.zi-39 {
    z-index: 39;
}

.zi-40 {
    z-index: 40;
}

.zi-41 {
    z-index: 41;
}

.zi-42 {
    z-index: 42;
}

.zi-43 {
    z-index: 43;
}

.zi-44 {
    z-index: 44;
}

.zi-45 {
    z-index: 45;
}

.zi-46 {
    z-index: 46;
}

.zi-47 {
    z-index: 47;
}

.zi-48 {
    z-index: 48;
}

.zi-49 {
    z-index: 49;
}

.zi-50 {
    z-index: 50;
}





