
/* Position */

.p-a {
    position: absolute;
}

.p-r {
    position: relative;
}

.p-f {
    position: fixed;
}

.p-s {
    position: sticky;
}

/* Overflow */

.o-v {
    overflow: visible;
}

.o-h {
    overflow: hidden;
}

.o-b {
    overflow: auto;
}

.o-s {
    overflow: scroll;
}

