
/* Containers */

.container {
    display: flex;
}

.container-fluid {
    display: flex;
}

.flexvertical {
    display: flex;
    flex-direction: column;
}

.flexhorizantal {
    display: flex;
    flex-direction: row;
}
