
/* Containers */

.container {
    display: flex;
}

.container-fluid {
    display: flex;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-y {
    display: flex;
    flex-direction: column;
}

.flex-x {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}
