
/* Border-Radius */

.br-1px {
    border-radius: 1px;
}

.br-2px {
    border-radius: 2px;
}

.br-3px {
    border-radius: 3px;
}

.br-4px {
    border-radius: 4px;
}

.br-5px {
    border-radius: 5px;
}

.br-10px {
    border-radius: 10px;
}

.br-15px {
    border-radius: 15px;
}

.br-20px {
    border-radius: 20px;
}

.br-25px {
    border-radius: 25px;
}

.br-30px {
    border-radius: 30px;
}

.br-35px {
    border-radius: 35px;
}

.br-40px {
    border-radius: 40px;
}

.br-45px {
    border-radius: 45px;
}

.br-50px {
    border-radius: 50px;
}

.br-60px {
    border-radius: 60px;
}

.br-70px {
    border-radius: 70px;
}

.br-80px {
    border-radius: 80px;
}

.br-90px {
    border-radius: 90px;
}

.br-100px {
    border-radius: 100px;
}

/* Border-Top-Left-Radius */

.btlr-1px {
    border-top-left-radius: 1px;
}

.btlr-2px {
    border-top-left-radius: 2px;
}

.btlr-3px {
    border-top-left-radius: 3px;
}

.btlr-4px {
    border-top-left-radius: 4px;
}

.btlr-5px {
    border-top-left-radius: 5px;
}

.btlr-10px {
    border-top-left-radius: 10px;
}

.btlr-15px {
    border-top-left-radius: 15px;
}

.btlr-20px {
    border-top-left-radius: 20px;
}

.btlr-25px {
    border-top-left-radius: 25px;
}

.btlr-30px {
    border-top-left-radius: 30px;
}

.btlr-35px {
    border-top-left-radius: 35px;
}

.btlr-40px {
    border-top-left-radius: 40px;
}

.btlr-45px {
    border-top-left-radius: 45px;
}

.btlr-50px {
    border-top-left-radius: 50px;
}

.btlr-60px {
    border-top-left-radius: 60px;
}

.btlr-70px {
    border-top-left-radius: 70px;
}

.btlr-80px {
    border-top-left-radius: 80px;
}

.btlr-90px {
    border-top-left-radius: 90px;
}

.btlr-100px {
    border-top-left-radius: 100px;
}

/* Border-Top-Right-Radius */

.btrr-1px {
    border-top-right-radius: 1px;
}

.btrr-2px {
    border-top-right-radius: 2px;
}

.btrr-3px {
    border-top-right-radius: 3px;
}

.btrr-4px {
    border-top-right-radius: 4px;
}

.btrr-5px {
    border-top-right-radius: 5px;
}

.btrr-10px {
    border-top-right-radius: 10px;
}

.btrr-15px {
    border-top-right-radius: 15px;
}

.btrr-20px {
    border-top-right-radius: 20px;
}

.btrr-25px {
    border-top-right-radius: 25px;
}

.btrr-30px {
    border-top-right-radius: 30px;
}

.btrr-35px {
    border-top-right-radius: 35px;
}

.btrr-40px {
    border-top-right-radius: 40px;
}

.btrr-45px {
    border-top-right-radius: 45px;
}

.btrr-50px {
    border-top-right-radius: 50px;
}

.btrr-60px {
    border-top-right-radius: 60px;
}

.btrr-70px {
    border-top-right-radius: 70px;
}

.btrr-80px {
    border-top-right-radius: 80px;
}

.btrr-90px {
    border-top-right-radius: 90px;
}

.btrr-100px {
    border-top-right-radius: 100px;
}

/* Border-Bottom-Left-Radius */

.bblr-1px {
    border-bottom-left-radius: 1px;
}

.bblr-2px {
    border-bottom-left-radius: 2px;
}

.bblr-3px {
    border-bottom-left-radius: 3px;
}

.bblr-4px {
    border-bottom-left-radius: 4px;
}

.bblr-5px {
    border-bottom-left-radius: 5px;
}

.bblr-10px {
    border-bottom-left-radius: 10px;
}

.bblr-15px {
    border-bottom-left-radius: 15px;
}

.bblr-20px {
    border-bottom-left-radius: 20px;
}

.bblr-25px {
    border-bottom-left-radius: 25px;
}

.bblr-30px {
    border-bottom-left-radius: 30px;
}

.bblr-35px {
    border-bottom-left-radius: 35px;
}

.bblr-40px {
    border-bottom-left-radius: 40px;
}

.bblr-45px {
    border-bottom-left-radius: 45px;
}

.bblr-50px {
    border-bottom-left-radius: 50px;
}

.bblr-60px {
    border-bottom-left-radius: 60px;
}

.bblr-70px {
    border-bottom-left-radius: 70px;
}

.bblr-80px {
    border-bottom-left-radius: 80px;
}

.bblr-90px {
    border-bottom-left-radius: 90px;
}

.bblr-100px {
    border-bottom-left-radius: 100px;
}

/* Border-Bottom-Right-Radius */

.bbrr-1px {
    border-bottom-right-radius: 1px;
}

.bbrr-2px {
    border-bottom-right-radius: 2px;
}

.bbrr-3px {
    border-bottom-right-radius: 3px;
}

.bbrr-4px {
    border-bottom-right-radius: 4px;
}

.bbrr-5px {
    border-bottom-right-radius: 5px;
}

.bbrr-10px {
    border-bottom-right-radius: 10px;
}

.bbrr-15px {
    border-bottom-right-radius: 15px;
}

.bbrr-20px {
    border-bottom-right-radius: 20px;
}

.bbrr-25px {
    border-bottom-right-radius: 25px;
}

.bbrr-30px {
    border-bottom-right-radius: 30px;
}

.bbrr-35px {
    border-bottom-right-radius: 35px;
}

.bbrr-40px {
    border-bottom-right-radius: 40px;
}

.bbrr-45px {
    border-bottom-right-radius: 45px;
}

.bbrr-50px {
    border-bottom-right-radius: 50px;
}

.bbrr-60px {
    border-bottom-right-radius: 60px;
}

.bbrr-70px {
    border-bottom-right-radius: 70px;
}

.bbrr-80px {
    border-bottom-right-radius: 80px;
}

.bbrr-90px {
    border-bottom-right-radius: 90px;
}

.bblr-100px {
    border-bottom-right-radius: 100px;
}

/* Border-Style */

.b-s {
    border-style: solid;
}

.b-d {
    border-style: dashed;
}

.b-d {
    border-style: double;
}

.b-g {
    border-style: groove;
}

.b-r {
    border-style: ridge;
}

.b-i {
    border-style: inset;
}

.b-o {
    border-style: outset;
}

/* Border */

.b-1px {
    border: 1px;
}

.b-2px {
    border: 2px;
}

.b-3px {
    border: 3px;
}

.b-4px {
    border: 4px;
}

.b-5px {
    border: 5px;
}

.b-6px {
    border: 6px;
}

.b-7px {
    border: 7px;
}

.b-8px {
    border: 8px;
}

.b-9px {
    border: 9px;
}

.b-10px {
    border: 10px;
}

.b-15px {
    border: 15px;
}

.b-20px {
    border: 20px;
}

.b-25px {
    border: 25px;
}

.b-30px {
    border: 30px;
}

.b-35px {
    border: 35px;
}

.b-40px {
    border: 40px;
}

.b-45px {
    border: 45px;
}

.b-50px {
    border: 50px;
}






