
/* Background-Color */

.bgc-black {
  background-color: black;
}

.bgc-white {
  background-color: white;
}

.bgc-red {
  background-color: red;
}

.bgc-green {
  background-color: green;
}

.bgc-yellow {
  background-color: yellow;
}

.bgc-purpke {
  background-color: purple;
}

.bgc-brown {
  background-color: brown;
}

.bgc-gray {
  background-color: gray;
}

.bgc-beige {
  background-color: beige;
}

.bgc-black {
  background-color: black;
}

.bgc-white {
  background-color: white;
}

.bgc-orange {
  background-color: orange;
}

.bgc-lime {
  background-color: lime;
}

.bgc-teal {
  background-color: teal;
}

.bgc-blue {
  background-color: blue;
}

.bgc-cyan {
  background-color: cyan;
}

.bgc-pink {
  background-color: pink;
}

.bgc-magenta {
  background-color: magenta;
}

.bgc-turquoise {
  background-color: turquoise;
}

.bgc-silver {
  background-color: silver;
}

.bgc-gold {
  background-color: gold;
}

.bgc-lightgray {
  background-color: lightgray;
}

.bgc-lightblue {
  background-color: lightblue;
}

.bgc-slategray {
  background-color: slategray;
}

.bgc-darkslategray {
  background-color: darkslategray;
}

.bgc-lightgray {
  background-color: lightgray;
}

.bgc-olivegreen {
  background-color: olive;
}

.bgc-navyblue {
  background-color: navy;
}

/* Color */

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-red {
  color: red;
}

.c-green {
  color: green;
}

.c-yellow {
  color: yellow;
}

.c-purpke {
  color: purple;
}

.c-brown {
  color: brown;
}

.c-gray {
  color: gray;
}

.c-beige {
  color: beige;
}

.c-black {
  color: black;
}

.c-white {
  color: white;
}

.c-orange {
  color: orange;
}

.c-lime {
  color: lime;
}

.c-teal {
  color: teal;
}

.c-blue {
  color: blue;
}

.c-cyan {
  color: cyan;
}

.c-pink {
  color: pink;
}

.c-magenta {
  color: magenta;
}

.c-turquoise {
  color: turquoise;
}

.c-silver {
  color: silver;
}

.c-gold {
  color: gold;
}

.c-copper {
  color: copper;
}

.c-bronze {
  color: bronze;
}

.c-slategray {
  color: slategray;
}

.c-darkslategray {
  color: darkslategray;
}

.c-lightgray {
  color: lightgray;
}

.c-olivegreen {
  color: olive;
}

.c-navyblue {
  color: navy;
}

/* Border-Color */

.bc-black {
  border-color: black;
}

.bc-white {
  border-color: white;
}

.bc-red {
  border-color: red;
}

.bc-green {
  border-color: green;
}

.bc-yellow {
  border-color: yellow;
}

.bc-purpke {
  border-color: purple;
}

.bc-brown {
  border-color: brown;
}

.bc-gray {
  border-color: gray;
}

.bc-beige {
  border-color: beige;
}

.bc-black {
  border-color: black;
}

.bc-white {
  border-color: white;
}

.bc-orange {
  border-color: orange;
}

.bc-lime {
  border-color: lime;
}

.bc-teal {
  border-color: teal;
}

.bc-blue {
  border-color: blue;
}

.bc-cyan {
  border-color: cyan;
}

.bc-pink {
  border-color: pink;
}

.bc-magenta {
  border-color: magenta;
}

.bc-turquoise {
  border-color: turquoise;
}

.bc-silver {
  border-color: silver;
}

.bc-gold {
  border-color: gold;
}

.bc-copper {
  border-color: copper;
}

.bc-bronze {
  border-color: bronze;
}

.bc-slategray {
  border-color: slategray;
}

.bc-darkslategray {
  border-color: darkslategray;
}

.bc-lightgray {
  border-color: lightgray;
}

.bc-olivegreen {
  border-color: olive;
}

.bc-navyblue {
  border-color: navy;
}
