
/* Object-Fit */

.of-cover {
    object-fit: cover;
}

.of-contain {
    object-fit: contain;
}

.of-fill {
    object-fit: fill
}

.of-none {
    object-fit: none;
}

.of-scaledown {
    object-fit: scale-down;
}

/* Object-Position */

.op-left {
    object-position: left;
}

.op-center {
    object-position: center;
}

.op-right {
    object-position: right;
}

.op-bottom {
    object-position: bottom;
}

.op-top {
    object-position: top;
}

/* Background-Attachment */

.bga-fixed {
    background-attachment: fixed;
}

.bga-local {
    background-attachment: local;
}

.bga-scroll {
    background-attachment: scroll;
}

/* Background-Repeat */

.bgr-repeat {
    background-repeat: repeat;
}

.bgr-norepeat {
    background-repeat: no-repeat;
}

.bgr-repeatx {
    background-repeat: repeat-x;
}

.bgr-repeaty  {
    background-repeat: repeat-y;
}

.bgr-space {
    background-repeat: space;
}

.bgr-round {
    background-repeat: round;
}

/* Background-Clip */

.bgc-borderbox {
    background-clip: border-box;
}

.bgc-paddingbox {
    background-clip: padding-box;
}

.bgc-contentbox {
    background-clip: content-box;
}

/* Background-Size */

.bgs-auto {
    background-size: auto;
}

.bgs-cover {
    background-size: cover;
}

.bgs-contain {
    background-size: contain;
}

/* Background-Color */

.bgc-black {
    background-color: black;
}

.bgc-white {
    background-color: white;
}

.bgc-gray99 {
    background-color: #fcfcfc;
}

.bgc-gray98 {
    background-color: #fafafa;
}

.bgc-gray97 {
    background-color: #f7f7f7;
}

.bgc-gray96 {
    background-color: #f5f5f5;
}

.bgc-gray95 {
    background-color: #f2f2f2;
}

.bgc-gray94 {
    background-color: #f0f0f0;
}

.bgc-gray93 {
    background-color: #ededed;
}

.bgc-gray92 {
    background-color: #ebebeb;
}

.bgc-gray91 {
    background-color: #e8e8e8;
}

.bgc-gray90 {
    background-color: #e5e5e5;
}

.bgc-gray89 {
    background-color: #e3e3e3;
}

.bgc-gray88 {
    background-color: #e0e0e0;
}

.bgc-gray87 {
    background-color: #dedede;
}

.bgc-gray86 {
    background-color: #dbdbdb;
}

.bgc-gray85 {
    background-color: #d9d9d9;
}

.bgc-gray84 {
    background-color: #d6d6d6;
}

.bgc-gray83 {
    background-color: #d4d4d4;
}

.bgc-gray82 {
    background-color: #d1d1d1;
}

.bgc-gray81 {
    background-color: #cfcfcf;
}

.bgc-gray80 {
    background-color: #cccccc;
}

.bgc-gray79 {
    background-color: #c9c9c9;
}

.bgc-gray78 {
    background-color: #c7c7c7;
}

.bgc-gray77 {
    background-color: #c4c4c4;
}

.bgc-gray76 {
    background-color: #c2c2c2;
}

.bgc-gray75 {
    background-color: #bfbfbf;
}

.bgc-gray74 {
    background-color: #bdbdbd;
}

.bgc-gray73 {
    background-color: #bababa;
}

.bgc-gray72 {
    background-color: #b8b8b8;
}

.bgc-gray71 {
    background-color: #b5b5b5;
}

.bgc-gray70 {
    background-color: #b3b3b3;
}

.bgc-gray69 {
    background-color: #b0b0b0;
}

.bgc-gray68 {
    background-color: #adadad;
}

.bgc-gray67 {
    background-color: #ababab;
}

.bgc-gray66 {
    background-color: #a8a8a8;
}

.bgc-gray65 {
    background-color: #a6a6a6;
}

.bgc-gray64 {
    background-color: #a3a3a3;
}

.bgc-gray63 {
    background-color: #a1a1a1;
}

.bgc-gray62 {
    background-color: #9e9e9e;
}

.bgc-gray61 {
    background-color: #9c9c9c;
}

.bgc-gray60 {
    background-color: #999999;
}

.bgc-gray59 {
    background-color: #969696;
}

.bgc-gray58 {
    background-color: #949494;
}

.bgc-gray57 {
    background-color: #919191;
}

.bgc-gray56 {
    background-color: #8f8f8f;
}

.bgc-gray55 {
    background-color: #8c8c8c;
}

.bgc-gray54 {
    background-color: #8a8a8a;
}

.bgc-gray53 {
    background-color: #878787;
}

.bgc-gray52 {
    background-color: #858585;
}

.bgc-gray51 {
    background-color: #828282;
}

.bgc-gray50 {
    background-color: #7f7f7f;
}

.bgc-gray49 {
    background-color: #7d7d7d;
}

.bgc-gray48 {
    background-color: #7a7a7a;
}

.bgc-gray47 {
    background-color: #787878;
}

.bgc-gray46 {
    background-color: #757575;
}

.bgc-gray45 {
    background-color: #737373;
}

.bgc-gray44 {
    background-color: #707070;
}

.bgc-gray43 {
    background-color: #6e6e6e;
}

.bgc-gray42 {
    background-color: #6b6b6b;
}

.bgc-gray41 {
    background-color: #696969;
}

.bgc-gray40 {
    background-color: #666666;
}

.bgc-gray39 {
    background-color: #636363;
}

.bgc-gray38 {
    background-color: #616161;
}

.bgc-gray37 {
    background-color: #5e5e5e;
}

.bgc-gray36 {
    background-color: #5c5c5c;
}

.bgc-gray35 {
    background-color: #595959;
}

.bgc-gray34 {
    background-color: #575757;
}

.bgc-gray33 {
    background-color: #545454;
}

.bgc-gray32 {
    background-color: #525252;
}

.bgc-gray31 {
    background-color: #4f4f4f;
}

.bgc-gray30 {
    background-color: #4d4d4d;
}

.bgc-gray29 {
    background-color: #4a4a4a;
}

.bgc-gray28 {
    background-color: #474747;
}

.bgc-gray27 {
    background-color: #454545;
}

.bgc-gray26 {
    background-color: #424242;
}

.bgc-gray25 {
    background-color: #404040;
}

.bgc-gray24 {
    background-color: #3d3d3d;
}

.bgc-gray23 {
    background-color: #3b3b3b;
}

.bgc-gray22 {
    background-color: #383838;
}

.bgc-gray21 {
    background-color: #363636;
}

.bgc-gray20 {
    background-color: #333333;
}

.bgc-gray19 {
    background-color: #303030;
}

.bgc-gray18 {
    background-color: #2e2e2e;
}

.bgc-gray17 {
    background-color: #2b2b2b;
}

.bgc-gray16 {
    background-color: #292929;
}

.bgc-gray15 {
    background-color: #262626;
}

.bgc-gray14 {
    background-color: #242424;
}

.bgc-gray13 {
    background-color: #212121;
}

.bgc-gray12 {
    background-color: #1f1f1f;
}

.bgc-gray11 {
    background-color: #1c1c1c;
}

.bgc-gray10 {
    background-color: #1a1a1a;
}

.bgc-gray9 {
    background-color: #171717;
}

.bgc-gray8 {
    background-color: #141414;
}

.bgc-gray7 {
    background-color: #121212;
}

.bgc-gray6 {
    background-color: #0f0f0f;
}

.bgc-gray5 {
    background-color: #0d0d0d;
}

.bgc-gray4 {
    background-color: #0a0a0a;
}

.bgc-gray3 {
    background-color: #080808;
}

.bgc-gray2 {
    background-color: #050505;
}

.bgc-gray1 {
    background-color: #030303;
}

.bgc-aliceblue {
	background-color: aliceblue;
}

.bgc-antiquewhite {
	background-color: antiquewhite;
}

.bgc-aqua {
	background-color: aqua;
}

.bgc-aquamarine {
	background-color: aquamarine;
}

.bgc-azure {
	background-color: azure;
}

.bgc-beige {
	background-color: beige;
}

.bgc-bisque {
	background-color: bisque;
}

.bgc-blanchedalmond {
	background-color: blanchedalmond;
}

.bgc-blue {
	background-color: blue;
}

.bgc-blueviolet {
	background-color: blueviolet;
}

.bgc-brown {
	background-color: brown;
}

.bgc-burlywood {
	background-color: burlywood;
}

.bgc-cadetblue {
	background-color: cadetblue;
}

.bgc-chartreuse {
	background-color: chartreuse;
}

.bgc-chocolate {
	background-color: chocolate;
}

.bgc-coral {
	background-color: coral;
}

.bgc-cornflowerblue {
	background-color: cornflowerblue;
}

.bgc-cornsilk {
	background-color: cornsilk;
}

.bgc-crimson {
	background-color: crimson;
}

.bgc-cyan {
	background-color: cyan;
}

.bgc-darkblue {
	background-color: darkblue;
}

.bgc-darkcyan {
	background-color: darkcyan;
}

.bgc-darkgoldenrod {
	background-color: darkgoldenrod;
}

.bgc-darkgreen {
	background-color: darkgreen;
}

.bgc-darkkhaki {
	background-color: darkkhaki;
}

.bgc-darkmagenta {
	background-color: darkmagenta;
}

.bgc-darkolivegreen {
	background-color: darkolivegreen;
}

.bgc-darkorange {
	background-color: darkorange;
}

.bgc-darkorchid {
	background-color: darkorchid;
}

.bgc-darkred {
	background-color: darkred;
}

.bgc-darksalmon {
	background-color: darksalmon;
}

.bgc-darkseagreen {
	background-color: darkseagreen;
}

.bgc-darkslateblue {
	background-color: darkslateblue;
}

.bgc-darkslategray {
	background-color: darkslategray;
}

.bgc-darkslategrey {
	background-color: darkslategrey;
}

.bgc-darkturquoise {
	background-color: darkturquoise;
}

.bgc-darkviolet {
	background-color: darkviolet;
}

.bgc-deeppink {
	background-color: deeppink;
}

.bgc-deepskyblue {
	background-color: deepskyblue;
}

.bgc-dodgerblue {
	background-color: dodgerblue;
}

.bgc-firebrick {
	background-color: firebrick;
}

.bgc-floralwhite {
	background-color: floralwhite;
}

.bgc-forestgreen {
	background-color: forestgreen;
}

.bgc-fuchsia {
	background-color: fuchsia;
}

.bgc-ghostwhite {
	background-color: ghostwhite;
}

.bgc-gold {
	background-color: gold;
}

.bgc-goldenrod {
	background-color: goldenrod;
}

.bgc-green {
	background-color: green;
}

.bgc-greenyellow {
	background-color: greenyellow;
}

.bgc-honeydew {
	background-color: honeydew;
}

.bgc-hotpink {
	background-color: hotpink;
}

.bgc-indianred {
	background-color: indianred;
}

.bgc-indigo {
	background-color: indigo;
}

.bgc-ivory {
	background-color: ivory;
}

.bgc-khaki {
	background-color: khaki;
}

.bgc-lavender {
	background-color: lavender;
}

.bgc-lavenderblush {
	background-color: lavenderblush;
}

.bgc-lawngreen {
	background-color: lawngreen;
}

.bgc-lemonchiffon {
	background-color: lemonchiffon;
}

.bgc-lightblue {
	background-color: lightblue;
}

.bgc-lightcoral {
	background-color: lightcoral;
}

.bgc-lightcyan {
	background-color: lightcyan;
}

.bgc-lightgoldenrodyellow {
	background-color: lightgoldenrodyellow;
}

.bgc-lightgreen {
	background-color: lightgreen;
}

.bgc-lightpink {
	background-color: lightpink;
}

.bgc-lightsalmon {
	background-color: lightsalmon;
}

.bgc-lightseagreen {
	background-color: lightseagreen;
}

.bgc-lightskyblue {
	background-color: lightskyblue;
}

.bgc-lightslategray {
	background-color: lightslategray;
}

.bgc-lightsteelblue {
	background-color: lightsteelblue;
}

.bgc-lightyellow {
	background-color: lightyellow;
}

.bgc-lime {
	background-color: lime;
}

.bgc-limegreen {
	background-color: limegreen;
}

.bgc-linen {
	background-color: linen;
}

.bgc-magenta {
	background-color: magenta;
}

.bgc-maroon {
	background-color: maroon;
}

.bgc-mediumaquamarine {
	background-color: mediumaquamarine;
}

.bgc-mediumblue {
	background-color: mediumblue;
}

.bgc-mediumorchid {
	background-color: mediumorchid;
}

.bgc-mediumpurple {
	background-color: mediumpurple;
}

.bgc-mediumseagreen {
	background-color: mediumseagreen;
}

.bgc-mediumslateblue {
	background-color: mediumslateblue;
}

.bgc-mediumspringgreen {
	background-color: mediumspringgreen;
}

.bgc-mediumturquoise {
	background-color: mediumturquoise;
}

.bgc-mediumvioletred {
	background-color: mediumvioletred;
}

.bgc-midnightblue {
	background-color: midnightblue;
}

.bgc-mintcream {
	background-color: mintcream;
}

.bgc-mistyrose {
	background-color: mistyrose;
}

.bgc-moccasin {
	background-color: moccasin;
}

.bgc-navajowhite {
	background-color: navajowhite;
}

.bgc-navy {
	background-color: navy;
}

.bgc-oldlace {
	background-color: oldlace;
}

.bgc-olive {
	background-color: olive;
}

.bgc-olivedrab {
	background-color: olivedrab;
}

.bgc-orange {
	background-color: orange;
}

.bgc-orangered {
	background-color: orangered;
}

.bgc-orchid {
	background-color: orchid;
}

.bgc-palegoldenrod {
	background-color: palegoldenrod;
}

.bgc-palegreen {
	background-color: palegreen;
}

.bgc-paleturquoise {
	background-color: paleturquoise;
}

.bgc-palevioletred {
	background-color: palevioletred;
}

.bgc-papayawhip {
	background-color: papayawhip;
}

.bgc-peachpuff {
	background-color: peachpuff;
}

.bgc-peru {
	background-color: peru;
}

.bgc-pink {
	background-color: pink;
}

.bgc-plum {
	background-color: plum;
}

.bgc-powderblue {
	background-color: powderblue;
}

.bgc-purple {
	background-color: purple;
}

.bgc-red {
	background-color: red;
}

.bgc-rosybrown {
	background-color: rosybrown;
}

.bgc-royalblue {
	background-color: royalblue;
}

.bgc-saddlebrown {
	background-color: saddlebrown;
}

.bgc-salmon {
	background-color: salmon;
}

.bgc-sandybrown {
	background-color: sandybrown;
}

.bgc-seagreen {
	background-color: seagreen;
}

.bgc-seashell {
	background-color: seashell;
}

.bgc-sienna {
	background-color: sienna;
}

.bgc-skyblue {
	background-color: skyblue;
}

.bgc-slateblue {
	background-color: slateblue;
}

.bgc-slategray {
	background-color: slategray;
}

.bgc-snow {
	background-color: snow;
}

.bgc-springgreen {
	background-color: springgreen;
}

.bgc-steelblue {
	background-color: steelblue;
}

.bgc-tan {
	background-color: tan;
}

.bgc-teal {
	background-color: teal;
}

.bgc-thistle {
	background-color: thistle;
}

.bgc-tomato {
	background-color: tomato;
}

.bgc-turquoise {
	background-color: turquoise;
}

.bgc-violet {
	background-color: violet;
}

.bgc-wheat {
	background-color: wheat;
}

.bgc-yellow {
	background-color: yellow;
}

.bgc-yellowgreen {
	background-color: yellowgreen;
}


