
/* Border-Style */

.bs-solid {
    border-style: solid;
}

.bs-dashed {
    border-style: dashed;
}

.bs-double {
    border-style: double;
}

.bs-dotted {
    border-style: dotted;
}

.bs-groove {
    border-style: groove;
}

.bs-ridge {
    border-style: ridge;
}

.bs-inset {
    border-style: inset;
}

.bs-outset {
    border-style: outset;
}

.bs-hidden {
    border-style: hidden;
}

.bs-none {
    border-style: none;
}

/* Border-Radius */

.br-5px {
    border-radius: 5px;
}

.br-10px {
    border-radius: 10px;
}

.br-15px {
    border-radius: 15px;
}

.br-20px {
    border-radius: 20px;
}

.br-25px {
    border-radius: 25px;
}

.br-30px {
    border-radius: 30px;
}

.br-35px {
    border-radius: 35px;
}

.br-40px {
    border-radius: 40px;
}

.br-45px {
    border-radius: 45px;
}

.br-50px {
    border-radius: 50px;
}

.br-60px {
    border-radius: 60px;
}

.br-70px {
    border-radius: 70px;
}

.br-80px {
    border-radius: 80px;
}

.br-90px {
    border-radius: 90px;
}

.br-100px {
    border-radius: 100px;
}

/* Border-Top-Left-Radius */

.btlr-5px {
    border-top-left-radius: 5px;
}

.btlr-10px {
    border-top-left-radius: 10px;
}

.btlr-15px {
    border-top-left-radius: 15px;
}

.btlr-20px {
    border-top-left-radius: 20px;
}

.btlr-25px {
    border-top-left-radius: 25px;
}

.btlr-30px {
    border-top-left-radius: 30px;
}

.btlr-35px {
    border-top-left-radius: 35px;
}

.btlr-40px {
    border-top-left-radius: 40px;
}

.btlr-45px {
    border-top-left-radius: 45px;
}

.btlr-50px {
    border-top-left-radius: 50px;
}

.btlr-60px {
    border-top-left-radius: 60px;
}

.btlr-70px {
    border-top-left-radius: 70px;
}

.btlr-80px {
    border-top-left-radius: 80px;
}

.btlr-90px {
    border-top-left-radius: 90px;
}

.btlr-100px {
    border-top-left-radius: 100px;
}

/* Border-Top-Right-Radius */

.btrr-5px {
    border-top-right-radius: 5px;
}

.btrr-10px {
    border-top-right-radius: 10px;
}

.btrr-15px {
    border-top-right-radius: 15px;
}

.btrr-20px {
    border-top-right-radius: 20px;
}

.btrr-25px {
    border-top-right-radius: 25px;
}

.btrr-30px {
    border-top-right-radius: 30px;
}

.btrr-35px {
    border-top-right-radius: 35px;
}

.btrr-40px {
    border-top-right-radius: 40px;
}

.btrr-45px {
    border-top-right-radius: 45px;
}

.btrr-50px {
    border-top-right-radius: 50px;
}

.btrr-60px {
    border-top-right-radius: 60px;
}

.btrr-70px {
    border-top-right-radius: 70px;
}

.btrr-80px {
    border-top-right-radius: 80px;
}

.btrr-90px {
    border-top-right-radius: 90px;
}

.btrr-100px {
    border-top-right-radius: 100px;
}

/* Border-Bottom-Left-Radius */

.bblr-5px {
    border-bottom-left-radius: 5px;
}

.bblr-10px {
    border-bottom-left-radius: 10px;
}

.bblr-15px {
    border-bottom-left-radius: 15px;
}

.bblr-20px {
    border-bottom-left-radius: 20px;
}

.bblr-25px {
    border-bottom-left-radius: 25px;
}

.bblr-30px {
    border-bottom-left-radius: 30px;
}

.bblr-35px {
    border-bottom-left-radius: 35px;
}

.bblr-40px {
    border-bottom-left-radius: 40px;
}

.bblr-45px {
    border-bottom-left-radius: 45px;
}

.bblr-50px {
    border-bottom-left-radius: 50px;
}

.bblr-60px {
    border-bottom-left-radius: 60px;
}

.bblr-70px {
    border-bottom-left-radius: 70px;
}

.bblr-80px {
    border-bottom-left-radius: 80px;
}

.bblr-90px {
    border-bottom-left-radius: 90px;
}

.bblr-100px {
    border-bottom-left-radius: 100px;
}

/* Border-Bottom-Right-Radius */

.bbrr-5px {
    border-bottom-right-radius: 5px;
}

.bbrr-10px {
    border-bottom-right-radius: 10px;
}

.bbrr-15px {
    border-bottom-right-radius: 15px;
}

.bbrr-20px {
    border-bottom-right-radius: 20px;
}

.bbrr-25px {
    border-bottom-right-radius: 25px;
}

.bbrr-30px {
    border-bottom-right-radius: 30px;
}

.bbrr-35px {
    border-bottom-right-radius: 35px;
}

.bbrr-40px {
    border-bottom-right-radius: 40px;
}

.bbrr-45px {
    border-bottom-right-radius: 45px;
}

.bbrr-50px {
    border-bottom-right-radius: 50px;
}

.bbrr-60px {
    border-bottom-right-radius: 60px;
}

.bbrr-70px {
    border-bottom-right-radius: 70px;
}

.bbrr-80px {
    border-bottom-right-radius: 80px;
}

.bbrr-90px {
    border-bottom-right-radius: 90px;
}

.bblr-100px {
    border-bottom-right-radius: 100px;
}

/* Border-Width */

.bw-1px {
    border-width: 1px;
}

.bw-2px {
    border-width: 2px;
}

.bw-3px {
    border-width: 3px;
}

.bw-4px {
    border-width: 4px;
}

.bw-5px {
    border-width: 5px;
}

.bw-6px {
    border-width: 6px;
}

.bw-7px {
    border-width: 7px;
}

.bw-8px {
    border-width: 8px;
}

.bw-9px {
    border-width: 9px;
}

.bw-10px {
    border-width: 10px;
}

.bw-15px {
    border-width: 15px;
}

.bw-20px {
    border-width: 20px;
}

.bw-25px {
    border-width: 25px;
}

/* Border-Left-Width */

.blw-1px {
    border-left-width: 1px;
}

.blw-2px {
    border-left-width: 2px;
}

.blw-3px {
    border-left-width: 3px;
}

.blw-4px {
    border-left-width: 4px;
}

.blw-5px {
    border-left-width: 5px;
}

.blw-6px {
    border-left-width: 6px;
}

.blw-7px {
    border-left-width: 7px;
}

.blw-8px {
    border-left-width: 8px;
}

.blw-9px {
    border-left-width: 9px;
}

.blw-10px {
    border-left-width: 10px;
}

.blw-15px {
    border-left-width: 15px;
}

.blw-20px {
    border-left-width: 20px;
}

.blw-25px {
    border-left-width: 25px;
}

/* Border-Right-Radius */

.brw-1px {
    border-right-width: 1px;
}

.brw-2px {
    border-right-width: 2px;
}

.brw-3px {
    border-right-width: 3px;
}

.brw-4px {
    border-right-width: 4px;
}

.brw-5px {
    border-right-width: 5px;
}

.brw-6px {
    border-right-width: 6px;
}

.brw-7px {
    border-right-width: 7px;
}

.brw-8px {
    border-right-width: 8px;
}

.brw-9px {
    border-right-width: 9px;
}

.brw-10px {
    border-right-width: 10px;
}

.brw-15px {
    border-right-width: 15px;
}

.brw-20px {
    border-right-width: 20px;
}

.brw-25px {
    border-right-width: 25px;
}

/* Border-Top-Width */

.btw-1px {
    border-top-width: 1px;
}

.btw-2px {
    border-top-width: 2px;
}

.btw-3px {
    border-top-width: 3px;
}

.btw-4px {
    border-top-width: 4px;
}

.btw-5px {
    border-top-width: 5px;
}

.btw-6px {
    border-top-width: 6px;
}

.btw-7px {
    border-top-width: 7px;
}

.btw-8px {
    border-top-width: 8px;
}

.btw-9px {
    border-top-width: 9px;
}

.btw-10px {
    border-top-width: 10px;
}

.btw-15px {
    border-top-width: 15px;
}

.btw-20px {
    border-top-width: 20px;
}

.btw-25px {
    border-top-width: 25px;
}

/* Border-Bottom-Width */

.bbw-1px {
    border-bottom-width: 1px;
}

.bbw-2px {
    border-bottom-width: 2px;
}

.bbw-3px {
    border-bottom-width: 3px;
}

.bbw-4px {
    border-bottom-width: 4px;
}

.bbw-5px {
    border-bottom-width: 5px;
}

.bbw-6px {
    border-bottom-width: 6px;
}

.bbw-7px {
    border-bottom-width: 7px;
}

.bbw-8px {
    border-bottom-width: 8px;
}

.bbw-9px {
    border-bottom-width: 9px;
}

.bbw-10px {
    border-bottom-width: 10px;
}

.bbw-15px {
    border-bottom-width: 15px;
}

.bbw-20px {
    border-bottom-width: 20px;
}

.bbw-25px {
    border-bottom-width: 25px;
}

/* Border-X-Width */

.bwx-1px {
    border-left-width: 1px;
    border-right-width: 1px;
}

.bwx-2px {
    border-left-width: 2px;
    border-right-width: 2px;
}

.bwx-3px {
    border-left-width: 3px;
    border-right-width: 3px;
}

.bwx-4px {
    border-left-width: 4px;
    border-right-width: 4px;
}

.bwx-5px {
    border-left-width: 5px;
    border-right-width: 5px;
}

.bwx-6px {
    border-left-width: 6px;
    border-right-width: 6px;
}

.bwx-7px {
    border-left-width: 7px;
    border-right-width: 7px;
}

.bwx-8px {
    border-left-width: 8px;
    border-right-width: 8px;
}

.bwx-9px {
    border-left-width: 9px;
    border-right-width: 9px;
}

.bwx-10px {
    border-left-width: 10px;
    border-right-width: 10px;
}

.bwx-15px {
    border-left-width: 15px;
    border-right-width: 15px;
}

.bwx-20px {
    border-left-width: 20px;
    border-right-width: 20px;
}

.bwx-25px {
    border-left-width: 25px;
    border-right-width: 25px;
}

/* Border-Y-Width */

.bwy-1px {
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.bwy-2px {
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.bwy-3px {
    border-top-width: 3px;
    border-bottom-width: 3px;
}

.bwy-4px {
    border-top-width: 4px;
    border-bottom-width: 4px;
}

.bwy-5px {
    border-top-width: 5px;
    border-bottom-width: 5px;
}

.bwy-6px {
    border-top-width: 6px;
    border-bottom-width: 6px;
}

.bwy-7px {
    border-top-width: 7px;
    border-bottom-width: 7px;
}

.bwy-8px {
    border-top-width: 8px;
    border-bottom-width: 8px;
}

.bwy-9px {
    border-top-width: 9px;
    border-bottom-width: 9px;
}

.bwy-10px {
    border-top-width: 10px;
    border-bottom-width: 10px;
}

.bwy-15px {
    border-top-width: 15px;
    border-bottom-width: 15px;
}

.bwy-20px {
    border-top-width: 20px;
    border-bottom-width: 20px;
}

.bwy-25px {
    border-top-width: 25px;
    border-bottom-width: 25px;
}

/* Border-Color */

.bc-black {
    border-color: black;
}

.bc-white {
    border-color: white;
}

.bc-gray99 {
    border-color: #fcfcfc;
}

.bc-gray98 {
    border-color: #fafafa;
}

.bc-gray97 {
    border-color: #f7f7f7;
}

.bc-gray96 {
    border-color: #f5f5f5;
}

.bc-gray95 {
    border-color: #f2f2f2;
}

.bc-gray94 {
    border-color: #f0f0f0;
}

.bc-gray93 {
    border-color: #ededed;
}

.bc-gray92 {
    border-color: #ebebeb;
}

.bc-gray91 {
    border-color: #e8e8e8;
}

.bc-gray90 {
    border-color: #e5e5e5;
}

.bc-gray89 {
    border-color: #e3e3e3;
}

.bc-gray88 {
    border-color: #e0e0e0;
}

.bc-gray87 {
    border-color: #dedede;
}

.bc-gray86 {
    border-color: #dbdbdb;
}

.bc-gray85 {
    border-color: #d9d9d9;
}

.bc-gray84 {
    border-color: #d6d6d6;
}

.bc-gray83 {
    border-color: #d4d4d4;
}

.bc-gray82 {
    border-color: #d1d1d1;
}

.bc-gray81 {
    border-color: #cfcfcf;
}

.bc-gray80 {
    border-color: #cccccc;
}

.bc-gray79 {
    border-color: #c9c9c9;
}

.bc-gray78 {
    border-color: #c7c7c7;
}

.bc-gray77 {
    border-color: #c4c4c4;
}

.bc-gray76 {
    border-color: #c2c2c2;
}

.bc-gray75 {
    border-color: #bfbfbf;
}

.bc-gray74 {
    border-color: #bdbdbd;
}

.bc-gray73 {
    border-color: #bababa;
}

.bc-gray72 {
    border-color: #b8b8b8;
}

.bc-gray71 {
    border-color: #b5b5b5;
}

.bc-gray70 {
    border-color: #b3b3b3;
}

.bc-gray69 {
    border-color: #b0b0b0;
}

.bc-gray68 {
    border-color: #adadad;
}

.bc-gray67 {
    border-color: #ababab;
}

.bc-gray66 {
    border-color: #a8a8a8;
}

.bc-gray65 {
    border-color: #a6a6a6;
}

.bc-gray64 {
    border-color: #a3a3a3;
}

.bc-gray63 {
    border-color: #a1a1a1;
}

.bc-gray62 {
    border-color: #9e9e9e;
}

.bc-gray61 {
    border-color: #9c9c9c;
}

.bc-gray60 {
    border-color: #999999;
}

.bc-gray59 {
    border-color: #969696;
}

.bc-gray58 {
    border-color: #949494;
}

.bc-gray57 {
    border-color: #919191;
}

.bc-gray56 {
    border-color: #8f8f8f;
}

.bc-gray55 {
    border-color: #8c8c8c;
}

.bc-gray54 {
    border-color: #8a8a8a;
}

.bc-gray53 {
    border-color: #878787;
}

.bc-gray52 {
    border-color: #858585;
}

.bc-gray51 {
    border-color: #828282;
}

.bc-gray50 {
    border-color: #7f7f7f;
}

.bc-gray49 {
    border-color: #7d7d7d;
}

.bc-gray48 {
    border-color: #7a7a7a;
}

.bc-gray47 {
    border-color: #787878;
}

.bc-gray46 {
    border-color: #757575;
}

.bc-gray45 {
    border-color: #737373;
}

.bc-gray44 {
    border-color: #707070;
}

.bc-gray43 {
    border-color: #6e6e6e;
}

.bc-gray42 {
    border-color: #6b6b6b;
}

.bc-gray41 {
    border-color: #696969;
}

.bc-gray40 {
    border-color: #666666;
}

.bc-gray39 {
    border-color: #636363;
}

.bc-gray38 {
    border-color: #616161;
}

.bc-gray37 {
    border-color: #5e5e5e;
}

.bc-gray36 {
    border-color: #5c5c5c;
}

.bc-gray35 {
    border-color: #595959;
}

.bc-gray34 {
    border-color: #575757;
}

.bc-gray33 {
    border-color: #545454;
}

.bc-gray32 {
    border-color: #525252;
}

.bc-gray31 {
    border-color: #4f4f4f;
}

.bc-gray30 {
    border-color: #4d4d4d;
}

.bc-gray29 {
    border-color: #4a4a4a;
}

.bc-gray28 {
    border-color: #474747;
}

.bc-gray27 {
    border-color: #454545;
}

.bc-gray26 {
    border-color: #424242;
}

.bc-gray25 {
    border-color: #404040;
}

.bc-gray24 {
    border-color: #3d3d3d;
}

.bc-gray23 {
    border-color: #3b3b3b;
}

.bc-gray22 {
    border-color: #383838;
}

.bc-gray21 {
    border-color: #363636;
}

.bc-gray20 {
    border-color: #333333;
}

.bc-gray19 {
    border-color: #303030;
}

.bc-gray18 {
    border-color: #2e2e2e;
}

.bc-gray17 {
    border-color: #2b2b2b;
}

.bc-gray16 {
    border-color: #292929;
}

.bc-gray15 {
    border-color: #262626;
}

.bc-gray14 {
    border-color: #242424;
}

.bc-gray13 {
    border-color: #212121;
}

.bc-gray12 {
    border-color: #1f1f1f;
}

.bc-gray11 {
    border-color: #1c1c1c;
}

.bc-gray10 {
    border-color: #1a1a1a;
}

.bc-gray9 {
    border-color: #171717;
}

.bc-gray8 {
    border-color: #141414;
}

.bc-gray7 {
    border-color: #121212;
}

.bc-gray6 {
    border-color: #0f0f0f;
}

.bc-gray5 {
    border-color: #0d0d0d;
}

.bc-gray4 {
    border-color: #0a0a0a;
}

.bc-gray3 {
    border-color: #080808;
}

.bc-gray2 {
    border-color: #050505;
}

.bc-gray1 {
    border-color: #030303;
}

.bc-aliceblue {
	border-color: aliceblue;
}

.bc-antiquewhite {
	border-color: antiquewhite;
}

.bc-aqua {
	border-color: aqua;
}

.bc-aquamarine {
	border-color: aquamarine;
}

.bc-azure {
	border-color: azure;
}

.bc-beige {
	border-color: beige;
}

.bc-bisque {
	border-color: bisque;
}

.bc-blanchedalmond {
	border-color: blanchedalmond;
}

.bc-blue {
	border-color: blue;
}

.bc-blueviolet {
	border-color: blueviolet;
}

.bc-brown {
	border-color: brown;
}

.bc-burlywood {
	border-color: burlywood;
}

.bc-cadetblue {
	border-color: cadetblue;
}

.bc-chartreuse {
	border-color: chartreuse;
}

.bc-chocolate {
	border-color: chocolate;
}

.bc-coral {
	border-color: coral;
}

.bc-cornflowerblue {
	border-color: cornflowerblue;
}

.bc-cornsilk {
	border-color: cornsilk;
}

.bc-crimson {
	border-color: crimson;
}

.bc-cyan {
	border-color: cyan;
}

.bc-darkblue {
	border-color: darkblue;
}

.bc-darkcyan {
	border-color: darkcyan;
}

.bc-darkgoldenrod {
	border-color: darkgoldenrod;
}

.bc-darkgreen {
	border-color: darkgreen;
}

.bc-darkkhaki {
	border-color: darkkhaki;
}

.bc-darkmagenta {
	border-color: darkmagenta;
}

.bc-darkolivegreen {
	border-color: darkolivegreen;
}

.bc-darkorange {
	border-color: darkorange;
}

.bc-darkorchid {
	border-color: darkorchid;
}

.bc-darkred {
	border-color: darkred;
}

.bc-darksalmon {
	border-color: darksalmon;
}

.bc-darkseagreen {
	border-color: darkseagreen;
}

.bc-darkslateblue {
	border-color: darkslateblue;
}

.bc-darkslategray {
	border-color: darkslategray;
}

.bc-darkslategrey {
	border-color: darkslategrey;
}

.bc-darkturquoise {
	border-color: darkturquoise;
}

.bc-darkviolet {
	border-color: darkviolet;
}

.bc-deeppink {
	border-color: deeppink;
}

.bc-deepskyblue {
	border-color: deepskyblue;
}

.bc-dodgerblue {
	border-color: dodgerblue;
}

.bc-firebrick {
	border-color: firebrick;
}

.bc-floralwhite {
	border-color: floralwhite;
}

.bc-forestgreen {
	border-color: forestgreen;
}

.bc-fuchsia {
	border-color: fuchsia;
}

.bc-ghostwhite {
	border-color: ghostwhite;
}

.bc-gold {
	border-color: gold;
}

.bc-goldenrod {
	border-color: goldenrod;
}

.bc-green {
	border-color: green;
}

.bc-greenyellow {
	border-color: greenyellow;
}

.bc-honeydew {
	border-color: honeydew;
}

.bc-hotpink {
	border-color: hotpink;
}

.bc-indianred {
	border-color: indianred;
}

.bc-indigo {
	border-color: indigo;
}

.bc-ivory {
	border-color: ivory;
}

.bc-khaki {
	border-color: khaki;
}

.bc-lavender {
	border-color: lavender;
}

.bc-lavenderblush {
	border-color: lavenderblush;
}

.bc-lawngreen {
	border-color: lawngreen;
}

.bc-lemonchiffon {
	border-color: lemonchiffon;
}

.bc-lightblue {
	border-color: lightblue;
}

.bc-lightcoral {
	border-color: lightcoral;
}

.bc-lightcyan {
	border-color: lightcyan;
}

.bc-lightgoldenrodyellow {
	border-color: lightgoldenrodyellow;
}

.bc-lightgreen {
	border-color: lightgreen;
}

.bc-lightpink {
	border-color: lightpink;
}

.bc-lightsalmon {
	border-color: lightsalmon;
}

.bc-lightseagreen {
	border-color: lightseagreen;
}

.bc-lightskyblue {
	border-color: lightskyblue;
}

.bc-lightslategray {
	border-color: lightslategray;
}

.bc-lightsteelblue {
	border-color: lightsteelblue;
}

.bc-lightyellow {
	border-color: lightyellow;
}

.bc-lime {
	border-color: lime;
}

.bc-limegreen {
	border-color: limegreen;
}

.bc-linen {
	border-color: linen;
}

.bc-magenta {
	border-color: magenta;
}

.bc-maroon {
	border-color: maroon;
}

.bc-mediumaquamarine {
	border-color: mediumaquamarine;
}

.bc-mediumblue {
	border-color: mediumblue;
}

.bc-mediumorchid {
	border-color: mediumorchid;
}

.bc-mediumpurple {
	border-color: mediumpurple;
}

.bc-mediumseagreen {
	border-color: mediumseagreen;
}

.bc-mediumslateblue {
	border-color: mediumslateblue;
}

.bc-mediumspringgreen {
	border-color: mediumspringgreen;
}

.bc-mediumturquoise {
	border-color: mediumturquoise;
}

.bc-mediumvioletred {
	border-color: mediumvioletred;
}

.bc-midnightblue {
	border-color: midnightblue;
}

.bc-mintcream {
	border-color: mintcream;
}

.bc-mistyrose {
	border-color: mistyrose;
}

.bc-moccasin {
	border-color: moccasin;
}

.bc-navajowhite {
	border-color: navajowhite;
}

.bc-navy {
	border-color: navy;
}

.bc-oldlace {
	border-color: oldlace;
}

.bc-olive {
	border-color: olive;
}

.bc-olivedrab {
	border-color: olivedrab;
}

.bc-orange {
	border-color: orange;
}

.bc-orangered {
	border-color: orangered;
}

.bc-orchid {
	border-color: orchid;
}

.bc-palegoldenrod {
	border-color: palegoldenrod;
}

.bc-palegreen {
	border-color: palegreen;
}

.bc-paleturquoise {
	border-color: paleturquoise;
}

.bc-palevioletred {
	border-color: palevioletred;
}

.bc-papayawhip {
	border-color: papayawhip;
}

.bc-peachpuff {
	border-color: peachpuff;
}

.bc-peru {
	border-color: peru;
}

.bc-pink {
	border-color: pink;
}

.bc-plum {
	border-color: plum;
}

.bc-powderblue {
	border-color: powderblue;
}

.bc-purple {
	border-color: purple;
}

.bc-red {
	border-color: red;
}

.bc-rosybrown {
	border-color: rosybrown;
}

.bc-royalblue {
	border-color: royalblue;
}

.bc-saddlebrown {
	border-color: saddlebrown;
}

.bc-salmon {
	border-color: salmon;
}

.bc-sandybrown {
	border-color: sandybrown;
}

.bc-seagreen {
	border-color: seagreen;
}

.bc-seashell {
	border-color: seashell;
}

.bc-sienna {
	border-color: sienna;
}

.bc-skyblue {
	border-color: skyblue;
}

.bc-slateblue {
	border-color: slateblue;
}

.bc-slategray {
	border-color: slategray;
}

.bc-snow {
	border-color: snow;
}

.bc-springgreen {
	border-color: springgreen;
}

.bc-steelblue {
	border-color: steelblue;
}

.bc-tan {
	border-color: tan;
}

.bc-teal {
	border-color: teal;
}

.bc-thistle {
	border-color: thistle;
}

.bc-tomato {
	border-color: tomato;
}

.bc-turquoise {
	border-color: turquoise;
}

.bc-violet {
	border-color: violet;
}

.bc-wheat {
	border-color: wheat;
}

.bc-yellow {
	border-color: yellow;
}

.bc-yellowgreen {
	border-color: yellowgreen;
}

/* Outline-Style */

.os-solid {
    outline-style: solid;
}

.os-dashed {
    outline-style: dashed;
}

.os-double {
    outline-style: double;
}

.os-dotted {
    outline-style: dotted;
}

.os-groove {
    outline-style: groove;
}

.os-ridge {
    outline-style: ridge;
}

.os-inset {
    outline-style: inset;
}

.os-outset {
    outline-style: outset;
}

.os-hidden {
    outline-style: hidden;
}

.os-none {
    outline-style: none;
}

/* Outline-Width */

.ow-1px {
    outline-width: 1px;
}

.ow-2px {
    outline-width: 2px;
}

.ow-3px {
    outline-width: 3px;
}

.ow-4px {
    outline-width: 4px;
}

.ow-5px {
    outline-width: 5px;
}

.ow-6px {
    outline-width: 6px;
}

.ow-7px {
    outline-width: 7px;
}

.ow-8px {
    outline-width: 8px;
}

.ow-9px {
    outline-width: 9px;
}

.ow-10px {
    outline-width: 10px;
}

.ow-15px {
    outline-width: 15px;
}

.ow-20px {
    outline-width: 20px;
}

.ow-25px {
    outline-width: 25px;
}

/* Outline-Offset */

.oo-1px {
    outline-offset: 1px;
}

.oo-2px {
    outline-offset: 2px;
}

.oo-3px {
    outline-offset: 3px;
}

.oo-4px {
    outline-offset: 4px;
}

.oo-5px {
    outline-offset: 5px;
}

.oo-6px {
    outline-offset: 6px;
}

.oo-7px {
    outline-offset: 7px;
}

.oo-8px {
    outline-offset: 8px;
}

.oo-9px {
    outline-offset: 9px;
}

.oo-10px {
    outline-offset: 10px;
}

.oo-15px {
    outline-offset: 15px;
}

.oo-20px {
    outline-offset: 20px;
}

.oo-25px {
    outline-offset: 25px;
}

/* Outline-Color */

.oc-black {
    outline-color: black;
}

.oc-white {
    outline-color: white;
}

.oc-gray99 {
    outline-color: #fcfcfc;
}

.oc-gray98 {
    outline-color: #fafafa;
}

.oc-gray97 {
    outline-color: #f7f7f7;
}

.oc-gray96 {
    outline-color: #f5f5f5;
}

.oc-gray95 {
    outline-color: #f2f2f2;
}

.oc-gray94 {
    outline-color: #f0f0f0;
}

.oc-gray93 {
    outline-color: #ededed;
}

.oc-gray92 {
    outline-color: #ebebeb;
}

.oc-gray91 {
    outline-color: #e8e8e8;
}

.oc-gray90 {
    outline-color: #e5e5e5;
}

.oc-gray89 {
    outline-color: #e3e3e3;
}

.oc-gray88 {
    outline-color: #e0e0e0;
}

.oc-gray87 {
    outline-color: #dedede;
}

.oc-gray86 {
    outline-color: #dbdbdb;
}

.oc-gray85 {
    outline-color: #d9d9d9;
}

.oc-gray84 {
    outline-color: #d6d6d6;
}

.oc-gray83 {
    outline-color: #d4d4d4;
}

.oc-gray82 {
    outline-color: #d1d1d1;
}

.oc-gray81 {
    outline-color: #cfcfcf;
}

.oc-gray80 {
    outline-color: #cccccc;
}

.oc-gray79 {
    outline-color: #c9c9c9;
}

.oc-gray78 {
    outline-color: #c7c7c7;
}

.oc-gray77 {
    outline-color: #c4c4c4;
}

.oc-gray76 {
    outline-color: #c2c2c2;
}

.oc-gray75 {
    outline-color: #bfbfbf;
}

.oc-gray74 {
    outline-color: #bdbdbd;
}

.oc-gray73 {
    outline-color: #bababa;
}

.oc-gray72 {
    outline-color: #b8b8b8;
}

.oc-gray71 {
    outline-color: #b5b5b5;
}

.oc-gray70 {
    outline-color: #b3b3b3;
}

.oc-gray69 {
    outline-color: #b0b0b0;
}

.oc-gray68 {
    outline-color: #adadad;
}

.oc-gray67 {
    outline-color: #ababab;
}

.oc-gray66 {
    outline-color: #a8a8a8;
}

.oc-gray65 {
    outline-color: #a6a6a6;
}

.oc-gray64 {
    outline-color: #a3a3a3;
}

.oc-gray63 {
    outline-color: #a1a1a1;
}

.oc-gray62 {
    outline-color: #9e9e9e;
}

.oc-gray61 {
    outline-color: #9c9c9c;
}

.oc-gray60 {
    outline-color: #999999;
}

.oc-gray59 {
    outline-color: #969696;
}

.oc-gray58 {
    outline-color: #949494;
}

.oc-gray57 {
    outline-color: #919191;
}

.oc-gray56 {
    outline-color: #8f8f8f;
}

.oc-gray55 {
    outline-color: #8c8c8c;
}

.oc-gray54 {
    outline-color: #8a8a8a;
}

.oc-gray53 {
    outline-color: #878787;
}

.oc-gray52 {
    outline-color: #858585;
}

.oc-gray51 {
    outline-color: #828282;
}

.oc-gray50 {
    outline-color: #7f7f7f;
}

.oc-gray49 {
    outline-color: #7d7d7d;
}

.oc-gray48 {
    outline-color: #7a7a7a;
}

.oc-gray47 {
    outline-color: #787878;
}

.oc-gray46 {
    outline-color: #757575;
}

.oc-gray45 {
    outline-color: #737373;
}

.oc-gray44 {
    outline-color: #707070;
}

.oc-gray43 {
    outline-color: #6e6e6e;
}

.oc-gray42 {
    outline-color: #6b6b6b;
}

.oc-gray41 {
    outline-color: #696969;
}

.oc-gray40 {
    outline-color: #666666;
}

.oc-gray39 {
    outline-color: #636363;
}

.oc-gray38 {
    outline-color: #616161;
}

.oc-gray37 {
    outline-color: #5e5e5e;
}

.oc-gray36 {
    outline-color: #5c5c5c;
}

.oc-gray35 {
    outline-color: #595959;
}

.oc-gray34 {
    outline-color: #575757;
}

.oc-gray33 {
    outline-color: #545454;
}

.oc-gray32 {
    outline-color: #525252;
}

.oc-gray31 {
    outline-color: #4f4f4f;
}

.oc-gray30 {
    outline-color: #4d4d4d;
}

.oc-gray29 {
    outline-color: #4a4a4a;
}

.oc-gray28 {
    outline-color: #474747;
}

.oc-gray27 {
    outline-color: #454545;
}

.oc-gray26 {
    outline-color: #424242;
}

.oc-gray25 {
    outline-color: #404040;
}

.oc-gray24 {
    outline-color: #3d3d3d;
}

.oc-gray23 {
    outline-color: #3b3b3b;
}

.oc-gray22 {
    outline-color: #383838;
}

.oc-gray21 {
    outline-color: #363636;
}

.oc-gray20 {
    outline-color: #333333;
}

.oc-gray19 {
    outline-color: #303030;
}

.oc-gray18 {
    outline-color: #2e2e2e;
}

.oc-gray17 {
    outline-color: #2b2b2b;
}

.oc-gray16 {
    outline-color: #292929;
}

.oc-gray15 {
    outline-color: #262626;
}

.oc-gray14 {
    outline-color: #242424;
}

.oc-gray13 {
    outline-color: #212121;
}

.oc-gray12 {
    outline-color: #1f1f1f;
}

.oc-gray11 {
    outline-color: #1c1c1c;
}

.oc-gray10 {
    outline-color: #1a1a1a;
}

.oc-gray9 {
    outline-color: #171717;
}

.oc-gray8 {
    outline-color: #141414;
}

.oc-gray7 {
    outline-color: #121212;
}

.oc-gray6 {
    outline-color: #0f0f0f;
}

.oc-gray5 {
    outline-color: #0d0d0d;
}

.oc-gray4 {
    outline-color: #0a0a0a;
}

.oc-gray3 {
    outline-color: #080808;
}

.oc-gray2 {
    outline-color: #050505;
}

.oc-gray1 {
    outline-color: #030303;
}

.oc-aliceblue {
	outline-color: aliceblue;
}

.oc-antiquewhite {
	outline-color: antiquewhite;
}

.oc-aqua {
	outline-color: aqua;
}

.oc-aquamarine {
	outline-color: aquamarine;
}

.oc-azure {
	outline-color: azure;
}

.oc-beige {
	outline-color: beige;
}

.oc-bisque {
	outline-color: bisque;
}

.oc-blanchedalmond {
	outline-color: blanchedalmond;
}

.oc-blue {
	outline-color: blue;
}

.oc-blueviolet {
	outline-color: blueviolet;
}

.oc-brown {
	outline-color: brown;
}

.oc-burlywood {
	outline-color: burlywood;
}

.oc-cadetblue {
	outline-color: cadetblue;
}

.oc-chartreuse {
	outline-color: chartreuse;
}

.oc-chocolate {
	outline-color: chocolate;
}

.oc-coral {
	outline-color: coral;
}

.oc-cornflowerblue {
	outline-color: cornflowerblue;
}

.oc-cornsilk {
	outline-color: cornsilk;
}

.oc-crimson {
	outline-color: crimson;
}

.oc-cyan {
	outline-color: cyan;
}

.oc-darkblue {
	outline-color: darkblue;
}

.oc-darkcyan {
	outline-color: darkcyan;
}

.oc-darkgoldenrod {
	outline-color: darkgoldenrod;
}

.oc-darkgreen {
	outline-color: darkgreen;
}

.oc-darkkhaki {
	outline-color: darkkhaki;
}

.oc-darkmagenta {
	outline-color: darkmagenta;
}

.oc-darkolivegreen {
	outline-color: darkolivegreen;
}

.oc-darkorange {
	outline-color: darkorange;
}

.oc-darkorchid {
	outline-color: darkorchid;
}

.oc-darkred {
	outline-color: darkred;
}

.oc-darksalmon {
	outline-color: darksalmon;
}

.oc-darkseagreen {
	outline-color: darkseagreen;
}

.oc-darkslateblue {
	outline-color: darkslateblue;
}

.oc-darkslategray {
	outline-color: darkslategray;
}

.oc-darkslategrey {
	outline-color: darkslategrey;
}

.oc-darkturquoise {
	outline-color: darkturquoise;
}

.oc-darkviolet {
	outline-color: darkviolet;
}

.oc-deeppink {
	outline-color: deeppink;
}

.oc-deepskyblue {
	outline-color: deepskyblue;
}

.oc-dodgerblue {
	outline-color: dodgerblue;
}

.oc-firebrick {
	outline-color: firebrick;
}

.oc-floralwhite {
	outline-color: floralwhite;
}

.oc-forestgreen {
	outline-color: forestgreen;
}

.oc-fuchsia {
	outline-color: fuchsia;
}

.oc-ghostwhite {
	outline-color: ghostwhite;
}

.oc-gold {
	outline-color: gold;
}

.oc-goldenrod {
	outline-color: goldenrod;
}

.oc-green {
	outline-color: green;
}

.oc-greenyellow {
	outline-color: greenyellow;
}

.oc-honeydew {
	outline-color: honeydew;
}

.oc-hotpink {
	outline-color: hotpink;
}

.oc-indianred {
	outline-color: indianred;
}

.oc-indigo {
	outline-color: indigo;
}

.oc-ivory {
	outline-color: ivory;
}

.oc-khaki {
	outline-color: khaki;
}

.oc-lavender {
	outline-color: lavender;
}

.oc-lavenderblush {
	outline-color: lavenderblush;
}

.oc-lawngreen {
	outline-color: lawngreen;
}

.oc-lemonchiffon {
	outline-color: lemonchiffon;
}

.oc-lightblue {
	outline-color: lightblue;
}

.oc-lightcoral {
	outline-color: lightcoral;
}

.oc-lightcyan {
	outline-color: lightcyan;
}

.oc-lightgoldenrodyellow {
	outline-color: lightgoldenrodyellow;
}

.oc-lightgreen {
	outline-color: lightgreen;
}

.oc-lightpink {
	outline-color: lightpink;
}

.oc-lightsalmon {
	outline-color: lightsalmon;
}

.oc-lightseagreen {
	outline-color: lightseagreen;
}

.oc-lightskyblue {
	outline-color: lightskyblue;
}

.oc-lightslategray {
	outline-color: lightslategray;
}

.oc-lightsteelblue {
	outline-color: lightsteelblue;
}

.oc-lightyellow {
	outline-color: lightyellow;
}

.oc-lime {
	outline-color: lime;
}

.oc-limegreen {
	outline-color: limegreen;
}

.oc-linen {
	outline-color: linen;
}

.oc-magenta {
	outline-color: magenta;
}

.oc-maroon {
	outline-color: maroon;
}

.oc-mediumaquamarine {
	outline-color: mediumaquamarine;
}

.oc-mediumblue {
	outline-color: mediumblue;
}

.oc-mediumorchid {
	outline-color: mediumorchid;
}

.oc-mediumpurple {
	outline-color: mediumpurple;
}

.oc-mediumseagreen {
	outline-color: mediumseagreen;
}

.oc-mediumslateblue {
	outline-color: mediumslateblue;
}

.oc-mediumspringgreen {
	outline-color: mediumspringgreen;
}

.oc-mediumturquoise {
	outline-color: mediumturquoise;
}

.oc-mediumvioletred {
	outline-color: mediumvioletred;
}

.oc-midnightblue {
	outline-color: midnightblue;
}

.oc-mintcream {
	outline-color: mintcream;
}

.oc-mistyrose {
	outline-color: mistyrose;
}

.oc-moccasin {
	outline-color: moccasin;
}

.oc-navajowhite {
	outline-color: navajowhite;
}

.oc-navy {
	outline-color: navy;
}

.oc-oldlace {
	outline-color: oldlace;
}

.oc-olive {
	outline-color: olive;
}

.oc-olivedrab {
	outline-color: olivedrab;
}

.oc-orange {
	outline-color: orange;
}

.oc-orangered {
	outline-color: orangered;
}

.oc-orchid {
	outline-color: orchid;
}

.oc-palegoldenrod {
	outline-color: palegoldenrod;
}

.oc-palegreen {
	outline-color: palegreen;
}

.oc-paleturquoise {
	outline-color: paleturquoise;
}

.oc-palevioletred {
	outline-color: palevioletred;
}

.oc-papayawhip {
	outline-color: papayawhip;
}

.oc-peachpuff {
	outline-color: peachpuff;
}

.oc-peru {
	outline-color: peru;
}

.oc-pink {
	outline-color: pink;
}

.oc-plum {
	outline-color: plum;
}

.oc-powderblue {
	outline-color: powderblue;
}

.oc-purple {
	outline-color: purple;
}

.oc-red {
	outline-color: red;
}

.oc-rosybrown {
	outline-color: rosybrown;
}

.oc-royalblue {
	outline-color: royalblue;
}

.oc-saddlebrown {
	outline-color: saddlebrown;
}

.oc-salmon {
	outline-color: salmon;
}

.oc-sandybrown {
	outline-color: sandybrown;
}

.oc-seagreen {
	outline-color: seagreen;
}

.oc-seashell {
	outline-color: seashell;
}

.oc-sienna {
	outline-color: sienna;
}

.oc-skyblue {
	outline-color: skyblue;
}

.oc-slateblue {
	outline-color: slateblue;
}

.oc-slategray {
	outline-color: slategray;
}

.oc-snow {
	outline-color: snow;
}

.oc-springgreen {
	outline-color: springgreen;
}

.oc-steelblue {
	outline-color: steelblue;
}

.oc-tan {
	outline-color: tan;
}

.oc-teal {
	outline-color: teal;
}

.oc-thistle {
	outline-color: thistle;
}

.oc-tomato {
	outline-color: tomato;
}

.oc-turquoise {
	outline-color: turquoise;
}

.oc-violet {
	outline-color: violet;
}

.oc-wheat {
	outline-color: wheat;
}

.oc-yellow {
	outline-color: yellow;
}

.oc-yellowgreen {
	outline-color: yellowgreen;
}



