
/* Font Size */

.fs-1px {
    font-size: 1px;
}

.fs-2px {
    font-size: 2px;
}

.fs-3px {
    font-size: 3px;
}

.fs-4px {
    font-size: 4px;
}

.fs-5px {
    font-size: 5px;
}

.fs-6px {
    font-size: 6px;
}

.fs-7px {
    font-size: 7px;
}

.fs-8px {
    font-size: 8px;
}

.fs-9px {
    font-size: 9px;
}

.fs-10px {
    font-size: 10px;
}

.fs-11px {
    font-size: 11px;
}

.fs-12px {
    font-size: 12px;
}

.fs-13px {
    font-size: 13px;
}

.fs-14px {
    font-size: 14px;
}

.fs-15px {
    font-size: 15px;
}

.fs-16px {
    font-size: 16px;
}

.fs-17px {
    font-size: 17px;
}

.fs-18px {
    font-size: 18px;
}

.fs-19px {
    font-size: 19px;
}

.fs-20px {
    font-size: 20px;
}

.fs-21px {
    font-size: 21px;
}

.fs-22px {
    font-size: 22px;
}

.fs-23px {
    font-size: 23px;
}

.fs-24px {
    font-size: 24px;
}

.fs-25px {
    font-size: 25px;
}

.fs-26px {
    font-size: 26px;
}

.fs-27px {
    font-size: 27px;
}

.fs-28px {
    font-size: 28px;
}

.fs-29px {
    font-size: 29px;
}

.fs-30px {
    font-size: 30px;
}

.fs-31px {
    font-size: 31px;
}

.fs-32px {
    font-size: 32px;
}

.fs-33px {
    font-size: 33px;
}

.fs-34px {
    font-size: 34px;
}

.fs-35px {
    font-size: 35px;
}

.fs-36px {
    font-size: 36px;
}

.fs-37px {
    font-size: 37px;
}

.fs-38px {
    font-size: 38px;
}

.fs-39px {
    font-size: 39px;
}

.fs-40px {
    font-size: 40px;
}

.fs-41px {
    font-size: 41px;
}

.fs-42px {
    font-size: 42px;
}

.fs-43px {
    font-size: 43px;
}

.fs-44px {
    font-size: 44px;
}

.fs-45px {
    font-size: 45px;
}

.fs-46px {
    font-size: 46px;
}

.fs-47px {
    font-size: 47px;
}

.fs-48px {
    font-size: 48px;
}

.fs-49px {
    font-size: 49px;
}

.fs-50px {
    font-size: 50px;
}

.fs-55px {
    font-size: 55px;
}

.fs-60px {
    font-size: 60px;
}

.fs-65px {
    font-size: 65px;
}

.fs-70px {
    font-size: 70px;
}

.fs-75px {
    font-size: 75px;
}

.fs-80px {
    font-size: 80px;
}

.fs-85px {
    font-size: 85px;
}

.fs-90px {
    font-size: 90px;
}

.fs-95px {
    font-size: 95px;
}

.fs-100px {
    font-size: 100px;
}

.fs-125px {
    font-size: 125px;
}

.fs-150px {
    font-size: 150px;
}

.fs-175px {
    font-size: 175px;
}

.fs-200px {
    font-size: 200px;
}

.fs-225px {
    font-size: 225px;
}

.fs-250px {
    font-size: 250px;
}

.fs-300px {
    font-size: 300px;
}

.fs-350px {
    font-size: 350px;
}

.fs-400px {
    font-size: 400px;
}

.fs-450px {
    font-size: 450px;
}

.fs-500px {
    font-size: 500px;
}

.fs-550px {
    font-size: 550px;
}

.fs-600px {
    font-size: 600px;
}

.fs-650px {
    font-size: 650px;
}

.fs-700px {
    font-size: 700px;
}

.fs-750px {
    font-size: 750px;
}

.fs-800px {
    font-size: 800px;
}

.fs-850px {
    font-size: 850px;
}

.fs-900px {
    font-size: 900px;
}

.fs-950px {
    font-size: 950px;
}

.fs-1000px {
    font-size: 1000px;
}

/* Line Spacing */

.lh-05p {
    line-height: 0.5em;
}

.lh-06p {
    line-height: 0.6em;
}

.lh-07p {
    line-height: 0.7em;
}

.lh-08p {
    line-height: 0.8em;
}

.lh-09p {
    line-height: 0.9em;
}

.lh-10p {
    line-height: 1.0em;
}

.lh-11p {
    line-height: 1.1em;
}

.lh-12p {
    line-height: 1.2em;
}

.lh-13p {
    line-height: 1.3em;
}

.lh-14p {
    line-height: 1.4em;
}

.lh-15p {
    line-height: 1.5em;
}


