
/* Font-Family (sans-serif) */

.ff-ariel {
    font-family: 'Ariel', sans-serif;
}

.ff-verdana {
    font-family: 'Verdana', sans-serif;
}

.ff-tahoma {
    font-family: 'Tahoma', sans-serif;
}

.ff-trebuchet {
    font-family: 'Trebuchet', sans-serif;
}

.ff-helvetica {
    font-family: 'Helvetica', sans-serif;
}

.ff-impact {
    font-family: 'Impact', sans-serif;
}

/* Font-Family (serif) */

.ff-timesnewroman {
    font-family: 'Times New Roman', serif;
}

.ff-georgia {
    font-family: 'Georgia', serif;
}

.ff-Garamond {
    font-family: 'Garamond', serif;
}

/* Font-Family (monospace) */

.ff-couriernew {
    font-family: 'Courier New', monospace;
}

.ff-monaco {
    font-family: 'Monaco', monospace;
}
  
/* Font-Family (cursive) */

.ff-brushscriptmt {
    font-family: 'Brush Script MT', cursive;
}
  
/* Font-Family (fantasy */

.ff-copperplate {
    font-family: 'Copperplate', fantasy;
}

.ff-papyrus {
    font-family: 'papyrus', fantasy;
}

/* Font-Style */

.fs-italic {
    font-style: italic;
}

.fs-normal {
    font-style: normal;
}

.fs-oblique {
    font-style: oblique;
}

/* Whitespace */

.ws-normal {
    white-space: normal;
}

.ws-nowrap {
    white-space: nowrap;
}

.ws-pre {
    white-space: pre;
}

.ws-preline {
    white-space: pre-line;
}

.ws-preline {
    white-space: pre-line;
}

/* Writing-Mode */

.wm-horizontal_tb {
    writing-mode: horizontal-tb;
}

.wm-vertical_rl {
    writing-mode: vertical-rl; 
}

.wm-vertical_lr {
    writing-mode: vertical-lr; 
}

/* Direction */

.d-rtl {
    direction: rtl;
}

/* Font Size */

.fs-1px {
    font-size: 1px;
}

.fs-2px {
    font-size: 2px;
}

.fs-3px {
    font-size: 3px;
}

.fs-4px {
    font-size: 4px;
}

.fs-5px {
    font-size: 5px;
}

.fs-6px {
    font-size: 6px;
}

.fs-7px {
    font-size: 7px;
}

.fs-8px {
    font-size: 8px;
}

.fs-9px {
    font-size: 9px;
}

.fs-10px {
    font-size: 10px;
}

.fs-11px {
    font-size: 11px;
}

.fs-12px {
    font-size: 12px;
}

.fs-13px {
    font-size: 13px;
}

.fs-14px {
    font-size: 14px;
}

.fs-15px {
    font-size: 15px;
}

.fs-16px {
    font-size: 16px;
}

.fs-17px {
    font-size: 17px;
}

.fs-18px {
    font-size: 18px;
}

.fs-19px {
    font-size: 19px;
}

.fs-20px {
    font-size: 20px;
}

.fs-21px {
    font-size: 21px;
}

.fs-22px {
    font-size: 22px;
}

.fs-23px {
    font-size: 23px;
}

.fs-24px {
    font-size: 24px;
}

.fs-25px {
    font-size: 25px;
}

.fs-26px {
    font-size: 26px;
}

.fs-27px {
    font-size: 27px;
}

.fs-28px {
    font-size: 28px;
}

.fs-29px {
    font-size: 29px;
}

.fs-30px {
    font-size: 30px;
}

.fs-31px {
    font-size: 31px;
}

.fs-32px {
    font-size: 32px;
}

.fs-33px {
    font-size: 33px;
}

.fs-34px {
    font-size: 34px;
}

.fs-35px {
    font-size: 35px;
}

.fs-36px {
    font-size: 36px;
}

.fs-37px {
    font-size: 37px;
}

.fs-38px {
    font-size: 38px;
}

.fs-39px {
    font-size: 39px;
}

.fs-40px {
    font-size: 40px;
}

.fs-41px {
    font-size: 41px;
}

.fs-42px {
    font-size: 42px;
}

.fs-43px {
    font-size: 43px;
}

.fs-44px {
    font-size: 44px;
}

.fs-45px {
    font-size: 45px;
}

.fs-46px {
    font-size: 46px;
}

.fs-47px {
    font-size: 47px;
}

.fs-48px {
    font-size: 48px;
}

.fs-49px {
    font-size: 49px;
}

.fs-50px {
    font-size: 50px;
}

.fs-55px {
    font-size: 55px;
}

.fs-60px {
    font-size: 60px;
}

.fs-65px {
    font-size: 65px;
}

.fs-70px {
    font-size: 70px;
}

.fs-75px {
    font-size: 75px;
}

.fs-80px {
    font-size: 80px;
}

.fs-85px {
    font-size: 85px;
}

.fs-90px {
    font-size: 90px;
}

.fs-95px {
    font-size: 95px;
}

.fs-100px {
    font-size: 100px;
}

.fs-125px {
    font-size: 125px;
}

.fs-150px {
    font-size: 150px;
}

.fs-175px {
    font-size: 175px;
}

.fs-200px {
    font-size: 200px;
}

.fs-225px {
    font-size: 225px;
}

.fs-250px {
    font-size: 250px;
}

.fs-300px {
    font-size: 300px;
}

.fs-350px {
    font-size: 350px;
}

.fs-400px {
    font-size: 400px;
}

.fs-450px {
    font-size: 450px;
}

.fs-500px {
    font-size: 500px;
}

.fs-550px {
    font-size: 550px;
}

.fs-600px {
    font-size: 600px;
}

.fs-650px {
    font-size: 650px;
}

.fs-700px {
    font-size: 700px;
}

.fs-750px {
    font-size: 750px;
}

.fs-800px {
    font-size: 800px;
}

.fs-850px {
    font-size: 850px;
}

.fs-900px {
    font-size: 900px;
}

.fs-950px {
    font-size: 950px;
}

.fs-1000px {
    font-size: 1000px;
}

/* Font-Size (REM) */

.fs-05 {
    font-size: 0.5rem;
}

.fs-075 {
    font-size: 0.75rem;
}

.fs-1d25 {
    font-size: 1.25rem;
}

.fs-1d50 {
    font-size: 1.50rem;
}

/* Font-Weight */

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fw-1000 {
    font-weight: 1000;
}

/* Letter-Spacing (PX) */

.ls-1px {
    letter-spacing: 1px;
}

.ls-2px {
    letter-spacing: 2px;
}

.ls-3px {
    letter-spacing: 3px;
}

.ls-4px {
    letter-spacing: 4px;
}

.ls-5px {
    letter-spacing: 5px;
}

.ls-6px {
    letter-spacing: 6px;
}

.ls-7px {
    letter-spacing: 7px;
}

.ls-8px {
    letter-spacing: 8px;
}

.ls-9px {
    letter-spacing: 9px;
}

.ls-10px {
    letter-spacing: 10px;
}

/* Letter-Spacing (REM) */

.ls-nd05 {
    letter-spacing: -0.05rem;
}

.ls-nd025 {
    letter-spacing: -0.025rem;
}

.ls-0rem {
    letter-spacing: 0rem;
}

.ls-d025 {
    letter-spacing: 0.025rem;
}

.ls-d05 {
    letter-spacing: 0.05rem;
}

.ls-d075 {
    letter-spacing: 0.075rem;
}

.ls-d1rem {
    letter-spacing: 0.1rem;
}

/* Line-Height (EM) */

/* Line-Height (REM) */

.lh-d5rem {
    line-height: 0.5rem;
}

.lh-d6rem {
    line-height: 0.6rem;
}

.lh-d7rem {
    line-height: 0.7rem;
}

.lh-d8rem {
    line-height: 0.8rem;
}

.lh-d9rem {
    line-height: 0.9rem;
}

.lh-1rem {
    line-height: 1.0rem;
}

.lh-1d1rem {
    line-height: 1.1rem;
}

.lh-1d2rem {
    line-height: 1.2rem;
}

.lh-1d3rem {
    line-height: 1.3rem;
}

.lh-1d4rem {
    line-height: 1.4rem;
}

.lh-1d5rem {
    line-height: 1.5rem;
}

.lh-1d6rem {
    line-height: 1.6rem;
}

.lh-1d7rem {
    line-height: 1.7rem;
}

.lh-1d8rem {
    line-height: 1.8rem;
}

.lh-1d9rem {
    line-height: 1.9rem;
}

.lh-2rem {
    line-height: 2.0rem;
}

/* List-Style-Position */

.lsp-inside {
    list-style-position: inside;
}

.lsp-outside {
    list-style-position: outside;
}

/* List-Style-Type */

.lst-none {
    list-style-type: none;
}

.lst-disc {
    list-style-type: disc;
}

.lst-circle {
    list-style-type: circle;
}

.lst-decimal {
    list-style-type: decimal;
}

.lst-square {
    list-style-type: square;
}

/* Text-Decoration-Line */

.tdl-underline {
    text-decoration-line: underline;
}

.tdl-overline {
    text-decoration-line: overline;
}

.tdl-linethrough {
    text-decoration-line: line-through;
}

.tdl-none {
    text-decoration-line: none;
}

/* Text-Decoration-Color */

/* Text-Decoration-Style */

.tds-solid {
    text-decoration-style: solid;
}

.tds-dotted {
    text-decoration-style: dotted;
}

.tds-wavy {
    text-decoration-style: wavy;
}

.tds-dashed {
    text-decoration-style: dashed;
}

.tds-double {
    text-decoration-style: double;
}

/* Text-Decoration-Thickness */

.tdt-a {
    text-decoration-thickness: auto;
}

.tdt-ff {
    text-decoration-thickness: from-font;
}

.tdt-0px {
    text-decoration-thickness: 0px;
}

.tdt-1px {
    text-decoration-thickness: 1px;
}

.tdt-2px {
    text-decoration-thickness: 2px;
}

.tdt-3px {
    text-decoration-thickness: 3px;
}

.tdt-4px {
    text-decoration-thickness: 4px;
}

.tdt-5px {
    text-decoration-thickness: 5px;
}

.tdt-6px {
    text-decoration-thickness: 6px;
}

.tdt-7px {
    text-decoration-thickness: 7px;
}

.tdt-8px {
    text-decoration-thickness: 8px;
}

.tdt-9px {
    text-decoration-thickness: 9px;
}

.tdt-10px {
    text-decoration-thickness: 10px;
}

/* Text-Underline-Offset */

.tuo-auto {
    text-underline-offset: auto;
}

.tuo-0px {
    text-underline-offset: 0px;
}

.tuo-1px {
    text-underline-offset: 1px;
}

.tuo-2px {
    text-underline-offset: 2px;
}

.tuo-3px {
    text-underline-offset: 3px;
}

.tuo-4px {
    text-underline-offset: 4px;
}

.tuo-5px {
    text-underline-offset: 5px;
}

.tuo-6px {
    text-underline-offset: 6px;
}

.tuo-7px {
    text-underline-offset: 7px;
}

.tuo-8px {
    text-underline-offset: 8px;
}

.tuo-9px {
    text-underline-offset: 9px;
}

.tuo-10px {
    text-underline-offset: 10px;
}

/* Text-Transform */

.tt-uppercase {
    text-transform: uppercase;
}

.tt-lowercase {
    text-transform: lowercase;
}

.tt-capitalize {
    text-transform: capitalize;
}

.tt-none {
    text-transform: none;
}

/* Text-Overflow */

.to-elipsis {
    text-overflow: ellipsis;
}

.to-clip {
    text-overflow: clip;
}

/* Text-Wrap */

.tw-wrap {
    text-wrap: wrap;
}

.tw-nowrap {
    text-wrap: nowrap;
}

.tw-balance {
    text-wrap: balance;
}

/* Text-Indent (PX) */

.ti-1px {
    text-indent: 1px;
}

.ti-2px {
    text-indent: 2px;
}

.ti-3px {
    text-indent: 3px;
}

.ti-4px {
    text-indent: 4px;
}

.ti-5px {
    text-indent: 5px;
}

.ti-6px {
    text-indent: 6px;
}

.ti-7px {
    text-indent: 7px;
}

.ti-8px {
    text-indent: 8px;
}

.ti-9px {
    text-indent: 9px;
}

.ti-10px {
    text-indent: 10px;
}

.ti-15px {
    text-indent: 15px;
}

.ti-20px {
    text-indent: 20px;
}

.ti-25px {
    text-indent: 25px;
}

/* Text-Indent (REM) */

.ti-d125rem {
    text-indent: 0.125rem;
}

.ti-d25rem {
    text-indent: 0.25rem;
}

.ti-d375rem {
    text-indent: 0.375rem;
}

.ti-d5rem  {
    text-indent: 0.5rem;
}

.ti-d625rem {
    text-indent: 0.625rem;
}

.ti-d75rem  {
    text-indent: 0.75rem;
}

.ti-d875rem {
    text-indent: 0.875rem;
}

.ti-d1rem  {
    text-indent: 1rem;
}

.ti-1d25rem {
    text-indent: 1.25rem;
}

.ti-1d5rem  {
    text-indent: 1.5rem;
}

.ti-1d75rem {
    text-indent: 1.75rem;
}

.ti-2rem  {
    text-indent: 2rem;
}

.ti-2d5rem {
    text-indent: 2.5rem;
}

.ti-3rem   {
    text-indent: 3rem;
}

.ti-3d5rem {
    text-indent: 3.5rem;
}

.ti-4rem    {
    text-indent: 4rem;
}

.ti-4d5rem  {
    text-indent: 4.5rem;
}

.ti-5rem     {
    text-indent: 5rem;
}

/* Word-Break */

.wb-breakall {
    word-break: break-all;
}

.wb-keepall {
    word-break: keep-all;
}

.wb-breakword {
    word-break: break-word;
}

/* Hyphens */

.h-none {
    hyphens: none;
}

.h-manual {
    hyphens: manual;
}

.h-auto {
    hyphens: auto;
}

/* Color */

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-gray99 {
    color: #fcfcfc;
}

.c-gray98 {
    color: #fafafa;
}

.c-gray97 {
    color: #f7f7f7;
}

.c-gray96 {
    color: #f5f5f5;
}

.c-gray95 {
    color: #f2f2f2;
}

.c-gray94 {
    color: #f0f0f0;
}

.c-gray93 {
    color: #ededed;
}

.c-gray92 {
    color: #ebebeb;
}

.c-gray91 {
    color: #e8e8e8;
}

.c-gray90 {
    color: #e5e5e5;
}

.c-gray89 {
    color: #e3e3e3;
}

.c-gray88 {
    color: #e0e0e0;
}

.c-gray87 {
    color: #dedede;
}

.c-gray86 {
    color: #dbdbdb;
}

.c-gray85 {
    color: #d9d9d9;
}

.c-gray84 {
    color: #d6d6d6;
}

.c-gray83 {
    color: #d4d4d4;
}

.c-gray82 {
    color: #d1d1d1;
}

.c-gray81 {
    color: #cfcfcf;
}

.c-gray80 {
    color: #cccccc;
}

.c-gray79 {
    color: #c9c9c9;
}

.c-gray78 {
    color: #c7c7c7;
}

.c-gray77 {
    color: #c4c4c4;
}

.c-gray76 {
    color: #c2c2c2;
}

.c-gray75 {
    color: #bfbfbf;
}

.c-gray74 {
    color: #bdbdbd;
}

.c-gray73 {
    color: #bababa;
}

.c-gray72 {
    color: #b8b8b8;
}

.c-gray71 {
    color: #b5b5b5;
}

.c-gray70 {
    color: #b3b3b3;
}

.c-gray69 {
    color: #b0b0b0;
}

.c-gray68 {
    color: #adadad;
}

.c-gray67 {
    color: #ababab;
}

.c-gray66 {
    color: #a8a8a8;
}

.c-gray65 {
    color: #a6a6a6;
}

.c-gray64 {
    color: #a3a3a3;
}

.c-gray63 {
    color: #a1a1a1;
}

.c-gray62 {
    color: #9e9e9e;
}

.c-gray61 {
    color: #9c9c9c;
}

.c-gray60 {
    color: #999999;
}

.c-gray59 {
    color: #969696;
}

.c-gray58 {
    color: #949494;
}

.c-gray57 {
    color: #919191;
}

.c-gray56 {
    color: #8f8f8f;
}

.c-gray55 {
    color: #8c8c8c;
}

.c-gray54 {
    color: #8a8a8a;
}

.c-gray53 {
    color: #878787;
}

.c-gray52 {
    color: #858585;
}

.c-gray51 {
    color: #828282;
}

.c-gray50 {
    color: #7f7f7f;
}

.c-gray49 {
    color: #7d7d7d;
}

.c-gray48 {
    color: #7a7a7a;
}

.c-gray47 {
    color: #787878;
}

.c-gray46 {
    color: #757575;
}

.c-gray45 {
    color: #737373;
}

.c-gray44 {
    color: #707070;
}

.c-gray43 {
    color: #6e6e6e;
}

.c-gray42 {
    color: #6b6b6b;
}

.c-gray41 {
    color: #696969;
}

.c-gray40 {
    color: #666666;
}

.c-gray39 {
    color: #636363;
}

.c-gray38 {
    color: #616161;
}

.c-gray37 {
    color: #5e5e5e;
}

.c-gray36 {
    color: #5c5c5c;
}

.c-gray35 {
    color: #595959;
}

.c-gray34 {
    color: #575757;
}

.c-gray33 {
    color: #545454;
}

.c-gray32 {
    color: #525252;
}

.c-gray31 {
    color: #4f4f4f;
}

.c-gray30 {
    color: #4d4d4d;
}

.c-gray29 {
    color: #4a4a4a;
}

.c-gray28 {
    color: #474747;
}

.c-gray27 {
    color: #454545;
}

.c-gray26 {
    color: #424242;
}

.c-gray25 {
    color: #404040;
}

.c-gray24 {
    color: #3d3d3d;
}

.c-gray23 {
    color: #3b3b3b;
}

.c-gray22 {
    color: #383838;
}

.c-gray21 {
    color: #363636;
}

.c-gray20 {
    color: #333333;
}

.c-gray19 {
    color: #303030;
}

.c-gray18 {
    color: #2e2e2e;
}

.c-gray17 {
    color: #2b2b2b;
}

.c-gray16 {
    color: #292929;
}

.c-gray15 {
    color: #262626;
}

.c-gray14 {
    color: #242424;
}

.c-gray13 {
    color: #212121;
}

.c-gray12 {
    color: #1f1f1f;
}

.c-gray11 {
    color: #1c1c1c;
}

.c-gray10 {
    color: #1a1a1a;
}

.c-gray9 {
    color: #171717;
}

.c-gray8 {
    color: #141414;
}

.c-gray7 {
    color: #121212;
}

.c-gray6 {
    color: #0f0f0f;
}

.c-gray5 {
    color: #0d0d0d;
}

.c-gray4 {
    color: #0a0a0a;
}

.c-gray3 {
    color: #080808;
}

.c-gray2 {
    color: #050505;
}

.c-gray1 {
    color: #030303;
}
  
.c-aliceblue {
	color: aliceblue;
}

.c-antiquewhite {
	color: antiquewhite;
}

.c-aqua {
	color: aqua;
}

.c-aquamarine {
	color: aquamarine;
}

.c-azure {
	color: azure;
}

.c-beige {
	color: beige;
}

.c-bisque {
	color: bisque;
}

.c-blanchedalmond {
	color: blanchedalmond;
}

.c-blue {
	color: blue;
}

.c-blueviolet {
	color: blueviolet;
}

.c-brown {
	color: brown;
}

.c-burlywood {
	color: burlywood;
}

.c-cadetblue {
	color: cadetblue;
}

.c-chartreuse {
	color: chartreuse;
}

.c-chocolate {
	color: chocolate;
}

.c-coral {
	color: coral;
}

.c-cornflowerblue {
	color: cornflowerblue;
}

.c-cornsilk {
	color: cornsilk;
}

.c-crimson {
	color: crimson;
}

.c-cyan {
	color: cyan;
}

.c-darkblue {
	color: darkblue;
}

.c-darkcyan {
	color: darkcyan;
}

.c-darkgoldenrod {
	color: darkgoldenrod;
}

.c-darkgreen {
	color: darkgreen;
}

.c-darkkhaki {
	color: darkkhaki;
}

.c-darkmagenta {
	color: darkmagenta;
}

.c-darkolivegreen {
	color: darkolivegreen;
}

.c-darkorange {
	color: darkorange;
}

.c-darkorchid {
	color: darkorchid;
}

.c-darkred {
	color: darkred;
}

.c-darksalmon {
	color: darksalmon;
}

.c-darkseagreen {
	color: darkseagreen;
}

.c-darkslateblue {
	color: darkslateblue;
}

.c-darkslategray {
	color: darkslategray;
}

.c-darkslategrey {
	color: darkslategrey;
}

.c-darkturquoise {
	color: darkturquoise;
}

.c-darkviolet {
	color: darkviolet;
}

.c-deeppink {
	color: deeppink;
}

.c-deepskyblue {
	color: deepskyblue;
}

.c-dodgerblue {
	color: dodgerblue;
}

.c-firebrick {
	color: firebrick;
}

.c-floralwhite {
	color: floralwhite;
}

.c-forestgreen {
	color: forestgreen;
}

.c-fuchsia {
	color: fuchsia;
}

.c-ghostwhite {
	color: ghostwhite;
}

.c-gold {
	color: gold;
}

.c-goldenrod {
	color: goldenrod;
}

.c-green {
	color: green;
}

.c-greenyellow {
	color: greenyellow;
}

.c-honeydew {
	color: honeydew;
}

.c-hotpink {
	color: hotpink;
}

.c-indianred {
	color: indianred;
}

.c-indigo {
	color: indigo;
}

.c-ivory {
	color: ivory;
}

.c-khaki {
	color: khaki;
}

.c-lavender {
	color: lavender;
}

.c-lavenderblush {
	color: lavenderblush;
}

.c-lawngreen {
	color: lawngreen;
}

.c-lemonchiffon {
	color: lemonchiffon;
}

.c-lightblue {
	color: lightblue;
}

.c-lightcoral {
	color: lightcoral;
}

.c-lightcyan {
	color: lightcyan;
}

.c-lightgoldenrodyellow {
	color: lightgoldenrodyellow;
}

.c-lightgreen {
	color: lightgreen;
}

.c-lightpink {
	color: lightpink;
}

.c-lightsalmon {
	color: lightsalmon;
}

.c-lightseagreen {
	color: lightseagreen;
}

.c-lightskyblue {
	color: lightskyblue;
}

.c-lightslategray {
	color: lightslategray;
}

.c-lightsteelblue {
	color: lightsteelblue;
}

.c-lightyellow {
	color: lightyellow;
}

.c-lime {
	color: lime;
}

.c-limegreen {
	color: limegreen;
}

.c-linen {
	color: linen;
}

.c-magenta {
	color: magenta;
}

.c-maroon {
	color: maroon;
}

.c-mediumaquamarine {
	color: mediumaquamarine;
}

.c-mediumblue {
	color: mediumblue;
}

.c-mediumorchid {
	color: mediumorchid;
}

.c-mediumpurple {
	color: mediumpurple;
}

.c-mediumseagreen {
	color: mediumseagreen;
}

.c-mediumslateblue {
	color: mediumslateblue;
}

.c-mediumspringgreen {
	color: mediumspringgreen;
}

.c-mediumturquoise {
	color: mediumturquoise;
}

.c-mediumvioletred {
	color: mediumvioletred;
}

.c-midnightblue {
	color: midnightblue;
}

.c-mintcream {
	color: mintcream;
}

.c-mistyrose {
	color: mistyrose;
}

.c-moccasin {
	color: moccasin;
}

.c-navajowhite {
	color: navajowhite;
}

.c-navy {
	color: navy;
}

.c-oldlace {
	color: oldlace;
}

.c-olive {
	color: olive;
}

.c-olivedrab {
	color: olivedrab;
}

.c-orange {
	color: orange;
}

.c-orangered {
	color: orangered;
}

.c-orchid {
	color: orchid;
}

.c-palegoldenrod {
	color: palegoldenrod;
}

.c-palegreen {
	color: palegreen;
}

.c-paleturquoise {
	color: paleturquoise;
}

.c-palevioletred {
	color: palevioletred;
}

.c-papayawhip {
	color: papayawhip;
}

.c-peachpuff {
	color: peachpuff;
}

.c-peru {
	color: peru;
}

.c-pink {
	color: pink;
}

.c-plum {
	color: plum;
}

.c-powderblue {
	color: powderblue;
}

.c-purple {
	color: purple;
}

.c-red {
	color: red;
}

.c-rosybrown {
	color: rosybrown;
}

.c-royalblue {
	color: royalblue;
}

.c-saddlebrown {
	color: saddlebrown;
}

.c-salmon {
	color: salmon;
}

.c-sandybrown {
	color: sandybrown;
}

.c-seagreen {
	color: seagreen;
}

.c-seashell {
	color: seashell;
}

.c-sienna {
	color: sienna;
}

.c-skyblue {
	color: skyblue;
}

.c-slateblue {
	color: slateblue;
}

.c-slategray {
	color: slategray;
}

.c-snow {
	color: snow;
}

.c-springgreen {
	color: springgreen;
}

.c-steelblue {
	color: steelblue;
}

.c-tan {
	color: tan;
}

.c-teal {
	color: teal;
}

.c-thistle {
	color: thistle;
}

.c-tomato {
	color: tomato;
}

.c-turquoise {
	color: turquoise;
}

.c-violet {
	color: violet;
}

.c-wheat {
	color: wheat;
}

.c-yellow {
	color: yellow;
}

.c-yellowgreen {
	color: yellowgreen;
}
