
/* Whitespace */

.ws-normal {
    white-space: normal;
}

.ws-nowrap {
    white-space: nowrap;
}

.ws-pre {
    white-space: pre;
}

.ws-preline {
    white-space: pre-line;
}

.ws-preline {
    white-space: pre-line;
}

/* Box-Decoration-Break */

.bdb-clone {
    box-decoration-break: clone;
}

.bdb-slice {
    box-decoration-break: slice;
}

/* Box-Sizing */

.bs-borderbox {
    box-sizing: border-box;
}

.bs-contentbox {
    box-sizing: content-box;
}

/* Inset */