
/* Box-Sizing */

.bs-borderbox {
    box-sizing: border-box;
}

.bs-contentbox {
    box-sizing: content-box;
}

/* Box-Decoration-Break */

.bdb-clone {
    box-decoration-break: clone;
}

.bdb-slice {
    box-decoration-break: slice;
}

/* Resize */

.r-both {
    resize: both;
}

.r-vertical {
    resize: vertical;
}

.r-horizantal {
    resize: horizontal;
}

/* Width (Percent) */

.w-auto {
    width: auto;
}

.w-5p {
    width: 5%;
}

.w-10p {
    width: 10%;
}

.w-15p {
    width: 15%;
}

.w-20p {
    width: 20%;
}

.w-25p {
    width: 25%;
}

.w-30p {
    width: 30%;
}

.w-35p {
    width: 35%;
}

.w-40p {
    width: 40%;
}

.w-45p {
    width: 45%;
}

.w-50p {
    width: 50%;
}

.w-55p {
    width: 55%;
}

.w-60p {
    width: 60%;
}

.w-65p {
    width: 65%;
}

.w-70p {
    width: 70%;
}

.w-75p {
    width: 75%;
}

.w-80p {
    width: 80%;
}

.w-85p {
    width: 85%;
}

.w-90p {
    width: 90%;
}

.w-95p {
    width: 95%;
}

.w-100p {
    width: 100%;
}

/* Min-Width (Percent) */

.minw-5p {
    min-width: 5%;
}

.minw-10p {
    min-width: 10%;
}

.minw-15p {
    min-width: 15%;
}

.minw-20p {
    min-width: 20%;
}

.minw-25p {
    min-width: 25%;
}

.minw-30p {
    min-width: 30%;
}

.minw-35p {
    min-width: 35%;
}

.minw-40p {
    min-width: 40%;
}

.minw-45p {
    min-width: 45%;
}

.minw-50p {
    min-width: 50%;
}

.minw-55p {
    min-width: 55%;
}

.minw-60p {
    min-width: 60%;
}

.minw-65p {
    min-width: 65%;
}

.minw-70p {
    min-width: 70%;
}

.minw-75p {
    min-width: 75%;
}

.minw-80p {
    min-width: 80%;
}

.minw-85p {
    min-width: 85%;
}

.minw-90p {
    min-width: 90%;
}

.minw-95p {
    min-width: 95%;
}

.minw-100p {
    min-width: 100%;
}

/* Max-Width (Percent) */

.maxw-5p {
    max-width: 5%;
}

.maxw-10p {
    max-width: 10%;
}

.maxw-15p {
    max-width: 15%;
}

.maxw-20p {
    max-width: 20%;
}

.maxw-25p {
    max-width: 25%;
}

.maxw-30p {
    max-width: 30%;
}

.maxw-35p {
    max-width: 35%;
}

.maxw-40p {
    max-width: 40%;
}

.maxw-45p {
    max-width: 45%;
}

.maxw-50p {
    max-width: 50%;
}

.maxw-55p {
    max-width: 55%;
}

.maxw-60p {
    max-width: 60%;
}

.maxw-65p {
    max-width: 65%;
}

.maxw-70p {
    max-width: 70%;
}

.maxw-75p {
    max-width: 75%;
}

.maxw-80p {
    max-width: 80%;
}

.maxw-85p {
    max-width: 85%;
}

.maxw-90p {
    max-width: 90%;
}

.maxw-95p {
    max-width: 95%;
}

.maxw-100p {
    max-width: 100%;
}

/* Width (Pixels) */

.w-1p {
    width: 1px;
}

.w-2p {
    width: 2px;
}

.w-3p {
    width: 3px;
}

.w-4p {
    width: 4px;
}

.w-5px {
    width: 5px;
}

.w-10px {
    width: 10px;
}

.w-15px {
    width: 15px;
}

.w-20px {
    width: 20px;
}

.w-25px {
    width: 25px;
}

.w-30px {
    width: 30px;
}

.w-35px {
    width: 35px;
}

.w-40px {
    width: 40px;
}

.w-45px {
    width: 45px;
}

.w-50px {
    width: 50px;
}

.w-55px {
    width: 55px;
}

.w-60px {
    width: 60px;
}

.w-65px {
    width: 65px;
}

.w-70px {
    width: 70px;
}

.w-75px {
    width: 75px;
}

.w-80px {
    width: 80px;
}

.w-85px {
    width: 85px;
}

.w-90px {
    width: 90px;
}

.w-95px {
    width: 95px;
}

.w-100px {
    width: 100px;
}

.w-125px {
    width: 125px;
}

.w-150px {
    width: 150px;
}

.w-175p {
    width: 175px;
}

.w-200p {
    width: 200px;
}

.w-225p {
    width: 225px;
}

.w-250p {
    width: 250px;
}

.w-275p {
    width: 275px;
}

.w-300p {
    width: 300px;
}

.w-325p {
    width: 325px;
}

.w-350p {
    width: 350px;
}

.w-375p {
    width: 375px;
}

.w-400p {
    width: 400px;
}

.w-425p {
    width: 425px;
}

.w-450p {
    width: 450px;
}

.w-475p {
    width: 475px;
}

.w-500p {
    width: 500px;
}

.w-525p {
    width: 525px;
}

.w-550p {
    width: 550px;
}

.w-575p {
    width: 575px;
}

.w-600p {
    width: 600px;
}

.w-625p {
    width: 625px;
}

.w-650p {
    width: 650px;
}

.w-675p {
    width: 675px;
}

.w-700p {
    width: 700px;
}

.w-725p {
    width: 725px;
}

.w-750p {
    width: 750px;
}

.w-775p {
    width: 775px;
}

.w-800p {
    width: 800px;
}

.w-825p {
    width: 825px;
}

.w-850p {
    width: 850px;
}

.w-875p {
    width: 875px;
}

.w-900p {
    width: 900px;
}

.w-925p {
    width: 925px;
}

.w-950p {
    width: 950px;
}

.w-975p {
    width: 975px;
}

.w-1000p {
    width: 1000px;
}

/* Min-Width (Pixels) */

.minw-1p {
    min-width: 1px;
}

.minw-2p {
    min-width: 2px;
}

.minw-3p {
    min-width: 3px;
}

.minw-4p {
    min-width: 4px;
}

.minw-5px {
    min-width: 5px;
}

.minw-10px {
    min-width: 10px;
}

.minw-15px {
    min-width: 15px;
}

.minw-20px {
    min-width: 20px;
}

.minw-25px {
    min-width: 25px;
}

.minw-30px {
    min-width: 30px;
}

.minw-35px {
    min-width: 35px;
}

.minw-40px {
    min-width: 40px;
}

.minw-45px {
    min-width: 45px;
}

.minw-50px {
    min-width: 50px;
}

.minw-55px {
    min-width: 55px;
}

.minw-60px {
    min-width: 60px;
}

.minw-65px {
    min-width: 65px;
}

.minw-70px {
    min-width: 70px;
}

.minw-75px {
    min-width: 75px;
}

.minw-80px {
    min-width: 80px;
}

.minw-85px {
    min-width: 85px;
}

.minw-90px {
    min-width: 90px;
}

.minw-95px {
    min-width: 95px;
}

.minw-100px {
    min-width: 100px;
}

.minw-125px {
    min-width: 125px;
}

.minw-150px {
    min-width: 150px;
}

.minw-175px {
    min-width: 175px;
}

.minw-200px {
    min-width: 200px;
}

.minw-225px {
    min-width: 225px;
}

.minw-250px {
    min-width: 250px;
}

.minw-275px {
    min-width: 275px;
}

.minw-300px {
    min-width: 300px;
}

.minw-325px {
    min-width: 325px;
}

.minw-350px {
    min-width: 350px;
}

.minw-375px {
    min-width: 375px;
}

.minw-400px {
    min-width: 400px;
}

.minw-425px {
    min-width: 425px;
}

.minw-450px {
    min-width: 450px;
}

.minw-475px {
    min-width: 475px;
}

.minw-500px {
    min-width: 500px;
}

.minw-525px {
    min-width: 525px;
}

.minw-550px {
    min-width: 550px;
}

.minw-575px {
    min-width: 575px;
}

.minw-600px {
    min-width: 600px;
}

.minw-625px {
    min-width: 625px;
}

.minw-650px {
    min-width: 650px;
}

.minw-675px {
    min-width: 675px;
}

.minw-700px {
    min-width: 700px;
}

.minw-725px {
    min-width: 725px;
}

.minw-750px {
    min-width: 750px;
}

.minw-775px {
    min-width: 775px;
}

.minw-800px {
    min-width: 800px;
}

.minw-825px {
    min-width: 825px;
}

.minw-850px {
    min-width: 850px;
}

.minw-875px {
    min-width: 875px;
}

.minw-900px {
    min-width: 900px;
}

.minw-925px {
    min-width: 925px;
}

.minw-950px {
    min-width: 950px;
}

.minw-975px {
    min-width: 975px;
}

.minw-1000px {
    min-width: 1000px;
}

/* Width (Viewport) */

.w-5vw {
    width: 5vw;
}

.w-10vw {
    width: 10vw;
}

.w-15vw {
    width: 15vw;
}

.w-20vw {
    width: 20vw;
}

.w-25vw {
    width: 25vw;
}

.w-30vw {
    width: 30vw;
}

.w-35vw {
    width: 35vw;
}

.w-40vw {
    width: 40vw;
}

.w-45vw {
    width: 45vw;
}

.w-50vw {
    width: 50vw;
}

.w-55vw {
    width: 55vw;
}

.w-60vw {
    width: 60vw;
}

.w-65vw {
    width: 65vw;
}

.w-70vw {
    width: 70vw;
}

.w-75vw {
    width: 75vw;
}

.w-80vw {
    width: 80vw;
}

.w-85vw {
    width: 85vw;
}

.w-90vw {
    width: 90vw;
}

.w-95vw {
    width: 95vw;
}

.w-100vw {
    width: 100vw;
}

/* Width (Rem) */

.w-d125rem  {
    width: 0.125rem;
}

.w-d25rem {
    width: 0.25rem;
}

.w-d3125rem {
    width: 0.3125rem;
}

.w-d5 {
    width: 0.5rem;
}

.w-d625rem {
    width: 0.625rem;
}

.w-d75rem {
    width: 0.75rem;
}

.w-d875rem {
    width: 0.875rem;
}

.w-1rem {
    width: 1rem;
}

.w-2rem {
    width: 2rem;
}

.w-3rem {
    width: 3rem;
}

.w-4rem {
    width: 4rem;
}

.w-5rem {
    width: 5rem;
}

.w-6rem {
    width: 6rem;
}

.w-7rem {
    width: 7rem;
}

.w-8rem {
    width: 8rem;
}

.w-9rem {
    width: 9rem;
}

.w-10rem {
    width: 10rem;
}

.w-11rem {
    width: 11rem;
}

.w-12rem {
    width: 12rem;
}

.w-13rem {
    width: 13rem;
}

.w-14rem {
    width: 14rem;
}

.w-15rem {
    width: 15rem;
}

.w-16rem {
    width: 16rem;
}

.w-17rem {
    width: 17rem;
}

.w-18rem {
    width: 18rem;
}

.w-19rem {
    width: 19rem;
}

.w-20rem {
    width: 20rem;
}

.w-21rem {
    width: 21rem;
}

.w-22rem {
    width: 22rem;
}

.w-23rem {
    width: 23rem;
}

.w-24rem {
    width: 24rem;
}

.w-25rem {
    width: 25rem;
}

/* Height (Percent) */

.h-auto {
    height: auto;
}

.h-5p {
    height: 5%;
}

.h-10p {
    height: 10%;
}

.h-15p {
    height: 15%;
}

.h-20p {
    height: 20%;
}

.h-25p {
    height: 25%;
}

.h-30p {
    height: 30%;
}

.h-35p {
    height: 35%;
}

.h-40p {
    height: 40%;
}

.h-45p {
    height: 45%;
}

.h-50p {
    height: 50%;
}

.h-55p {
    height: 55%;
}

.h-60p {
    height: 60%;
}

.h-65p {
    height: 65%;
}

.h-70p {
    height: 70%;
}

.h-75p {
    height: 75%;
}

.h-80p {
    height: 80%;
}

.h-85p {
    height: 85%;
}

.h-90p {
    height: 90%;
}

.h-95p {
    height: 95%;
}

.h-100p {
    height: 100%;
}

/* Min-Height (Percent) */

.minh-5p {
    min-height: 5%;
}

.minh-1p {
    min-height: 10%;
}

.minh-15p {
    min-height: 15%;
}

.minh-20p {
    min-height: 20%;
}

.minh-25p {
    min-height: 25%;
}

.minh-30p {
    min-height: 30%;
}

.minh-35p {
    min-height: 35%;
}

.minh-40p {
    min-height: 40%;
}

.minh-45p {
    min-height: 45%;
}

.minh-50p {
    min-height: 50%;
}

.minh-55p {
    min-height: 55%;
}

.minh-60p {
    min-height: 60%;
}

.minh-65p {
    min-height: 65%;
}

.minh-70p {
    min-height: 70%;
}

.minh-75p {
    min-height: 75%;
}

.minh-80p {
    min-height: 80%;
}

.minh-85p {
    min-height: 85%;
}

.minh-90p {
    min-height: 90%;
}

.minh-95p {
    min-height: 95%;
}

.minh-100p {
    min-height: 100%;
}

/* Max-Height (Pixels) */

.maxh-5p {
    max-height: 5%;
}

.maxh-10p {
    max-height: 10%;
}

.maxh-15p {
    max-height: 15%;
}

.maxh-20p {
    max-height: 20%;
}

.maxh-25p {
    max-height: 25%;
}

.maxh-30p {
    max-height: 30%;
}

.maxh-35p {
    max-height: 35%;
}

.maxh-40p {
    max-height: 40%;
}

.maxh-45p {
    max-height: 45%;
}

.maxh-50p {
    max-height: 50%;
}

.maxh-55p {
    max-height: 55%;
}

.maxh-60p {
    max-height: 60%;
}

.maxh-65p {
    max-height: 65%;
}

.maxh-70p {
    max-height: 70%;
}

.maxh-75p {
    max-height: 75%;
}

.maxh-80p {
    max-height: 80%;
}

.maxh-85p {
    max-height: 85%;
}

.maxh-90p {
    max-height: 90%;
}

.maxh-95p {
    max-height: 95%;
}

.maxh-100p {
    max-height: 100%;
}

/* Height (Pixels) */

.h-1px {
    height: 1px;
}

.h-2px {
    height: 2px;
}

.h-3px {
    height: 3px;
}

.h-4px {
    height: 4px;
}

.h-5px {
    height: 5px;
}

.h-10px {
    height: 10px;
}

.h-15px {
    height: 15px;
}

.h-20px {
    height: 20px;
}

.h-25px {
    height: 25px;
}

.h-30px {
    height: 30px;
}

.h-35px {
    height: 35px;
}

.h-40px {
    height: 40px;
}

.h-45px {
    height: 45px;
}

.h-50px {
    height: 50px;
}

.h-55px {
    height: 55px;
}

.h-60px {
    height: 60px;
}

.h-65px {
    height: 65px;
}

.h-70px {
    height: 70px;
}

.h-75px {
    height: 75px;
}

.h-80px {
    height: 80px;
}

.h-85px {
    height: 85px;
}

.h-90px {
    height: 90px;
}

.h-95px {
    height: 95px;
}

.h-100px {
    height: 100px;
}

.h-125px {
    height: 125px;
}

.h-150px {
    height: 150px;
}

.h-175px {
    height: 175px;
}

.h-200px {
    height: 200px;
}

.h-225px {
    height: 225px;
}

.h-250px {
    height: 250px;
}

.h-275px {
    height: 275px;
}

.h-300px {
    height: 300px;
}

.h-325px {
    height: 325px;
}

.h-350px {
    height: 350px;
}

.h-375px {
    height: 375px;
}

.h-400px {
    height: 400px;
}

.h-425px {
    height: 425px;
}

.h-450px {
    height: 450px;
}

.h-475px {
    height: 475px;
}

.h-500px {
    height: 500px;
}

.h-525px {
    height: 525px;
}

.h-550px {
    height: 550px;
}

.h-575px {
    height: 575px;
}

.h-600px {
    height: 600px;
}

.h-625px {
    height: 625px;
}

.h-650px {
    height: 650px;
}

.h-675px {
    height: 675px;
}

.h-700px {
    height: 700px;
}

.h-725px {
    height: 725px;
}

.h-750px {
    height: 750px;
}

.h-775px {
    height: 775px;
}

.h-800px {
    height: 800px;
}

.h-825px {
    height: 825px;
}

.h-850px {
    height: 850px;
}

.h-875px {
    height: 875px;
}

.h-900px {
    height: 900px;
}

.h-925px {
    height: 925px;
}

.h-950px {
    height: 950px;
}

.h-975px {
    height: 975px;
}

.h-1000px {
    height: 1000px;
}

/* Min-Height (Pixels) */

.minh-1px {
    min-height: 1px;
}

.minh-2px {
    min-height: 2px;
}

.minh-3px {
    min-height: 3px;
}

.minh-4px {
    min-height: 4px;
}

.minh-5px {
    min-height: 5px;
}

.minh-10px {
    min-height: 10px;
}

.minh-15px {
    min-height: 15px;
}

.minh-20px {
    min-height: 20px;
}

.minh-25px {
    min-height: 25px;
}

.minh-30px {
    min-height: 30px;
}

.minh-35px {
    min-height: 35px;
}

.minh-40px {
    min-height: 40px;
}

.minh-45px {
    min-height: 45px;
}

.minh-50px {
    min-height: 50px;
}

.minh-55px {
    min-height: 55px;
}

.minh-60px {
    min-height: 60px;
}

.minh-65px {
    min-height: 65px;
}

.minh-70px {
    min-height: 70px;
}

.minh-75px {
    min-height: 75px;
}

.minh-80px {
    min-height: 80px;
}

.minh-85px {
    min-height: 85px;
}

.minh-90px {
    min-height: 90px;
}

.minh-95px {
    min-height: 95px;
}

.minh-100px {
    min-height: 100px;
}

.minh-125px {
    min-height: 125px;
}

.minh-150px {
    min-height: 150px;
}

.minh-175px {
    min-height: 175px;
}

.minh-200px {
    min-height: 200px;
}

.minh-225px {
    min-height: 225px;
}

.minh-250px {
    min-height: 250px;
}

.minh-275px {
    min-height: 275px;
}

.minh-300px {
    min-height: 300px;
}

.minh-325px {
    min-height: 325px;
}

.minh-350px {
    min-height: 350px;
}

.minh-375px {
    min-height: 375px;
}

.minh-400px {
    min-height: 400px;
}

.minh-425px {
    min-height: 425px;
}

.minh-450px {
    min-height: 450px;
}

.minh-475px {
    min-height: 475px;
}

.minh-500px {
    min-height: 500px;
}

.minh-525px {
    min-height: 525px;
}

.minh-550px {
    min-height: 550px;
}

.minh-575px {
    min-height: 575px;
}

.minh-600px {
    min-height: 600px;
}

.minh-625px {
    min-height: 625px;
}

.minh-650px {
    min-height: 650px;
}

.minh-675px {
    min-height: 675px;
}

.minh-700px {
    min-height: 700px;
}

.minh-725px {
    min-height: 725px;
}

.minh-750px {
    min-height: 750px;
}

.minh-775px {
    min-height: 775px;
}

.minh-800px {
    min-height: 800px;
}

.minh-825px {
    min-height: 825px;
}

.minh-850px {
    min-height: 850px;
}

.minh-875px {
    min-height: 875px;
}

.minh-900px {
    min-height: 900px;
}

.minh-925px {
    min-height: 925px;
}

.minh-950px {
    min-height: 950px;
}

.minh-975px {
    min-height: 975px;
}

.minh-1000px {
    min-height: 1000px;
}

/* Height (Viewport) */

.h-5vh {
    height: 5vh;
}

.h-10vh {
    height: 10vh;
}

.h-15vh {
    height: 15vh;
}

.h-20vh {
    height: 20vh;
}

.h-25vh {
    height: 25vh;
}

.h-30vh {
    height: 30vh;
}

.h-35vh {
    height: 35vh;
}

.h-40vh {
    height: 40vh;
}

.h-45vh {
    height: 45vh;
}

.h-50vh {
    height: 50vh;
}

.h-55vh {
    height: 55vh;
}

.h-60vh {
    height: 60vh;
}

.h-65vh {
    height: 65vh;
}

.h-70vh {
    height: 70vh;
}

.h-75vh {
    height: 75vh;
}

.h-80vh {
    height: 80vh;
}

.h-85vh {
    height: 85vh;
}

.h-90vh {
    height: 90vh;
}

.h-95vh {
    height: 95vh;
}

.h-100vh {
    height: 100vh;
}

/* Height (Rem) */

.h-d125rem  {
    height: 0.125rem;
}

.h-d25rem {
    height: 0.25rem;
}

.h-d3125rem {
    height: 0.3125rem;
}

.h-d5 {
    height: 0.5rem;
}

.h-d625rem {
    height: 0.625rem;
}

.h-d75rem {
    height: 0.75rem;
}

.h-d875rem {
    height: 0.875rem;
}

.h-1rem {
    height: 1rem;
}

.h-2rem {
    height: 2rem;
}

.h-3rem {
    height: 3rem;
}

.h-4rem {
    height: 4rem;
}

.h-5rem {
    height: 5rem;
}

.h-6rem {
    height: 6rem;
}

.h-7rem {
    height: 7rem;
}

.h-8rem {
    height: 8rem;
}

.h-9rem {
    height: 9rem;
}

.h-10rem {
    height: 10rem;
}

.h-11rem {
    height: 11rem;
}

.h-12rem {
    height: 12rem;
}

.h-13rem {
    height: 13rem;
}

.h-14rem {
    height: 14rem;
}

.h-15rem {
    height: 15rem;
}

.h-16rem {
    height: 16rem;
}

.h-17rem {
    height: 17rem;
}

.h-18rem {
    height: 18rem;
}

.h-19rem {
    height: 19rem;
}

.h-20rem {
    height: 20rem;
}

.h-21rem {
    height: 21rem;
}

.h-22rem {
    height: 22rem;
}

.h-23rem {
    height: 23rem;
}

.h-24rem {
    height: 24rem;
}

.h-25rem {
    height: 25rem;
}

/* Aspect Ratio */

.ar-auto {
    aspect-ratio: auto;
}

.ar-16x9 {
    aspect-ratio: 16 / 9;
}

.ar-4x3 {
    aspect-ratio: 4 / 3;
}

.ar-3x2 {
    aspect-ratio: 3 / 2;
}

.ar-9x16 {
    aspect-ratio: 9 / 16;
}

.ar-1x1 {
    aspect-ratio: 1;
}