
/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Fonts */

.ff-ibmplexmono {
  font-family: 'IBM Plex Mono', sans-serif !important;
}

.ff-ubuntu {
  font-family: 'Ubuntu', sans-serif !important;
}

.ff-ibmplexsans {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

.ff-comfortaa {
  font-family: 'Comfortaa', sans-serif !important;
}

.ff-secularone {
  font-family: 'Secular One', sans-serif !important;
}

.ff-archivoblack {
  font-family: 'Archivo Black', sans-serif !important;
}

.ff-paytoneone {
  font-family: 'Paytone One', sans-serif !important;
}

.ff-blackhansans {
  font-family: 'Black Han Sans', sans-serif !important;
}

.ff-lexend {
  font-family: 'Lexend', sans-serif !important;
}

.ff-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.ff-roboto {
  font-family: 'Roboto', sans-serif !important;
}

.ff-helvetica {
  font-family: 'Helvetica', sans-serif !important;
}

.ff-arial {
  font-family: 'Arial', sans-serif !important;
}

.ff-montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.ff-cantarell {
  font-family: 'Cantarell', sans-serif !important;
}

.ff-oxygen {
  font-family: 'Oxygen', sans-serif !important;
}

.ff-robotomono {
  font-family: 'Roboto Mono', sans-serif !important;
}

.ff-spacemono {
  font-family: 'Space Mono', sans-serif !important;
}
